<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L1-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,134},{128,130}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{128,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,134},{152,130}}</string>
                <key>offset</key>
                <string>{8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{152,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{164,130}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{164,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,130}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{166,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{166,130}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{166,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{166,130}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{166,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,134},{164,130}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{164,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,266},{164,130}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{164,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{164,130}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{164,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,134},{164,130}}</string>
                <key>offset</key>
                <string>{13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{164,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,266},{162,130}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{162,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,266},{162,130}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{162,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{162,130}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{162,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,134},{162,130}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{162,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,266},{160,130}}</string>
                <key>offset</key>
                <string>{12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,20},{160,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{160,130}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,20},{160,130}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.2.png</string>
            <key>size</key>
            <string>{950,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70218519be2de527b8d555775ff9832d:9e2b79f19cad75351cff296b31feae02:52352518f17bc50a44e141255d3775aa$</string>
            <key>textureFileName</key>
            <string>1.2.png</string>
        </dict>
    </dict>
</plist>
