<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L1-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1898,2},{112,122}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{112,122}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{112,140}}</string>
                <key>offset</key>
                <string>{-12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{112,140}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,2},{124,150}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{124,150}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{126,150}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{126,150}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,150}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,0},{128,150}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{128,148}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{128,148}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{126,148}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{126,148}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{126,148}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{126,148}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{126,148}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{126,148}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{126,146}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{126,146}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{124,146}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{124,146}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{124,146}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{124,146}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,2},{124,146}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{124,146}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{124,144}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{124,144}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1532,2},{124,142}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{124,142}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
            <key>Fire-tower-L1-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{124,142}}</string>
                <key>offset</key>
                <string>{-18,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{124,142}}</string>
                <key>sourceSize</key>
                <string>{194,150}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.4.png</string>
            <key>size</key>
            <string>{2012,154}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d99a0615b7baa9b8617a6235a3cc5c:2b4067946fe7325535521b8661dc31b7:57b70bacde01fdc59264c3202411be9f$</string>
            <key>textureFileName</key>
            <string>1.4.png</string>
        </dict>
    </dict>
</plist>
