<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,131}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{118,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{118,131}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{118,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,122},{128,131}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,26},{128,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,122},{130,131}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{130,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,122},{142,131}}</string>
                <key>offset</key>
                <string>{-12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{142,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,122},{152,131}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{152,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,122},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,122},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,122},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,122},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,122},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1646,124},{152,131}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{152,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,124},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,254},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,254},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,255},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,255},{154,131}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{154,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,255},{152,131}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{152,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,255},{152,131}}</string>
                <key>offset</key>
                <string>{-17,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{152,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{118,131}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,26},{118,131}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{401,2},{118,133}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{118,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1757,2},{120,133}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{120,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{132,133}}</string>
                <key>offset</key>
                <string>{6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,24},{132,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1069,255},{134,133}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{134,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,255},{142,133}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{142,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,255},{152,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{152,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,257},{154,133}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1659,257},{154,133}}</string>
                <key>offset</key>
                <string>{18,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1815,257},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,387},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,387},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,388},{152,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,24},{152,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,388},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,388},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,388},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,390},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,390},{154,133}}</string>
                <key>offset</key>
                <string>{17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{154,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,390},{152,133}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{152,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1402,392},{152,133}}</string>
                <key>offset</key>
                <string>{16,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,24},{152,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{118,133}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,24},{118,133}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{118,127}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{118,127}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{118,137}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,20},{118,137}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{939,2},{118,147}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{118,147}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1088,2},{118,147}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,10},{118,147}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,122},{130,149}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{130,149}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,392},{140,155}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{140,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{789,525},{142,157}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,525},{142,157}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1107,525},{142,157}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{142,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1862,392},{140,157}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{140,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{140,157}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{140,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,523},{140,155}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{140,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1266,527},{142,155}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{142,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,523},{140,155}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{140,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1423,528},{142,155}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{142,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,534},{142,155}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{142,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1737,534},{142,155}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{142,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,523},{140,155}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{140,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,523},{140,155}}</string>
                <key>offset</key>
                <string>{-11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{140,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1237,2},{118,127}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,30},{118,127}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,2},{118,125}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{118,125}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1493,2},{118,135}}</string>
                <key>offset</key>
                <string>{0,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,22},{118,135}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1892,2},{120,145}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,12},{120,145}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{122,147}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{122,147}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,392},{134,147}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,10},{134,147}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,665},{144,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1715,678},{146,155}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{146,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,689},{146,155}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{146,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,665},{144,157}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{144,157}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,665},{144,155}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{144,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,665},{144,155}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,2},{144,155}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,669},{144,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,669},{144,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,669},{144,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,671},{144,153}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1405,672},{144,153}}</string>
                <key>offset</key>
                <string>{13,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1560,678},{144,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,4},{144,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,534},{142,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{142,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{142,153}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{142,153}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
            <key>Fire-tower-L2-0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{118,125}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{118,125}}</string>
                <key>sourceSize</key>
                <string>{190,157}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{2039,837}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aefa86ed089253d654482607f57a7601:ed4a2404d638177db5280d45b17af4e2:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
