<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret4_3_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,170},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,430},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,170},{86,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,252},{86,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,86},{86,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,176},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,86},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,348},{86,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{86,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{86,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,426},{84,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,424},{84,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,338},{84,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,252},{84,78}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,430},{84,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,90},{84,78}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{84,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,340},{84,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{84,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,170},{86,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,342},{86,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,260},{86,80}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{88,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20028.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{86,82}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{86,82}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,260},{86,80}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{86,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_3_20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,90},{78,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,23},{78,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.2.png</string>
            <key>size</key>
            <string>{428,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2afc8fc895af2808e06190d9c8a1cfc:740361b6832c15f422846e3e2624cf1e:4157caafc16ebaea08fb9caf336fe572$</string>
            <key>textureFileName</key>
            <string>3.2.png</string>
        </dict>
    </dict>
</plist>
