<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hill_red0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,170},{54,52}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,30},{54,52}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,166},{54,54}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,27},{54,54}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,56},{54,56}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{54,56}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,112},{52,56}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,23},{52,56}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,112},{52,56}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,21},{52,56}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,194},{52,58}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,18},{52,58}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{52,58}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,17},{52,58}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{54,58}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,16},{54,58}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,64},{54,60}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,2},{56,60}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{56,60}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,126},{54,60}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,11},{54,60}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,62}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{54,62}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{54,62}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,62}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{52,62}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{52,62}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,64},{50,60}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{50,60}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{50,60}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{50,60}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,130},{50,62}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,62}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,188},{50,60}}</string>
                <key>offset</key>
                <string>{2,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{50,60}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
            <key>hill_red0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{48,56}}</string>
                <key>offset</key>
                <string>{4,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{48,56}}</string>
                <key>sourceSize</key>
                <string>{68,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>healing.red.png</string>
            <key>size</key>
            <string>{278,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72b88a656eebed557a0ac007638b9ea6:3df1b62bae90c855d6a65ece8ee1991c:28532c850d5dbc91696b43d82566e9f4$</string>
            <key>textureFileName</key>
            <string>healing.red.png</string>
        </dict>
    </dict>
</plist>
