<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hill_blue_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,58},{56,51}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,30},{56,51}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,63},{54,55}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,26},{54,55}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{54,55}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{54,55}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,65},{54,57}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{54,57}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,185},{52,57}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{52,57}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,120},{52,57}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,18},{52,57}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{52,59}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,16},{52,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{54,59}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{54,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,63},{54,59}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{54,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,59}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,13},{56,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{56,59}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,11},{56,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{54,61}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{54,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,124},{54,61}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,6},{54,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,124},{52,61}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,5},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,124},{52,59}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{52,59}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{52,61}}</string>
                <key>offset</key>
                <string>{-2,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,3},{52,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{50,61}}</string>
                <key>offset</key>
                <string>{0,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,1},{50,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,187},{50,61}}</string>
                <key>offset</key>
                <string>{2,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{50,61}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
            <key>hill_blue_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,187},{48,57}}</string>
                <key>offset</key>
                <string>{4,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{48,57}}</string>
                <key>sourceSize</key>
                <string>{68,81}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>healing.blue.png</string>
            <key>size</key>
            <string>{284,239}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4eea195cd23e121773ad6915cd68b883:ef2992172dbce92844cdfd65dd03d988:b6ab12e74d712fd41fab2c9da98cfa25$</string>
            <key>textureFileName</key>
            <string>healing.blue.png</string>
        </dict>
    </dict>
</plist>
