<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lighting0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,17}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{56,17}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>lighting0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,37},{130,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,8},{130,19}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>lighting0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,35},{130,25}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,5},{130,25}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>lighting0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{132,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{132,31}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>lighting0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,2},{132,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,33}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
            <key>lighting0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{21,58},{1,1}}</string>
                <key>offset</key>
                <string>{-65.5,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{132,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lighting.png</string>
            <key>size</key>
            <string>{289,62}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:21c638e3ddc9c836ffe167e704969e3e:0d61ab47d7a271fe743094179a4c0970:42f418a2082cf80124975a4cb0ebe121$</string>
            <key>textureFileName</key>
            <string>lighting.png</string>
        </dict>
    </dict>
</plist>
