<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bird-fly00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{54,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{54,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{54,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,30}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,30}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,30}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{54,40}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{54,40}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{54,40}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,30}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,30}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{54,30}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,20},{54,30}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>bird-fly11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{54,44}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{54,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>takeout-box00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>takeout-box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{50,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>takeout-box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{48,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>takeout-box03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{50,54}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{50,54}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animations5.png</string>
            <key>size</key>
            <string>{60,224}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afd69cba604b41b84f3cd530978be078:5d642eedcf2524d32b85bc2e4755c166:bc678ba87ed114e66fd38ef094b5eaa8$</string>
            <key>textureFileName</key>
            <string>animations5.png</string>
        </dict>
    </dict>
</plist>
