<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>azntree/1.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{78,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/10.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,104},{88,86}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{88,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/11.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{88,84}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/2.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,172},{78,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,84},{80,86}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{80,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,92},{88,84}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{88,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/5.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,86},{84,86}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,7},{84,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/6.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,2},{78,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,7},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{78,84}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,9},{78,84}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/8.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,82},{78,86}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,7},{78,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>azntree/9.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{80,88}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,5},{80,88}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly00.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,182},{90,72}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{90,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,182},{90,72}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{90,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,182},{90,72}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{90,72}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,56},{90,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,56},{90,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,56},{90,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly06.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,170},{90,66}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,32},{90,66}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,56},{90,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,56},{90,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bird/bird-fly09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,56},{90,50}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,33},{90,50}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking00.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,206},{48,70}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{48,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking01.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,206},{48,70}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{48,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking02.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,206},{48,70}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{48,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking03.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,206},{48,70}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,14},{48,70}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking04.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,206},{48,76}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{48,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,206},{48,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{48,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking06.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,206},{48,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{48,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking07.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,206},{48,76}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{48,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking08.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,206},{48,76}}</string>
                <key>offset</key>
                <string>{-4,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,8},{48,76}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bunnyblink/standing&amp;blinking09.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,206},{48,78}}</string>
                <key>offset</key>
                <string>{-4,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,6},{48,78}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bush/b1.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,194},{96,52}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{96,52}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>bush/b2.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,82},{96,52}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{96,52}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>bush/b3.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,2},{96,52}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,49},{96,52}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>bush/b4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,136},{96,52}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,49},{96,52}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>bush/b5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,148},{96,52}}</string>
                <key>offset</key>
                <string>{2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,49},{96,52}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>takeoutbox/takeout-box00.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,174},{78,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>takeoutbox/takeout-box01.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{82,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>takeoutbox/takeout-box02.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,174},{78,92}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,4},{78,92}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>takeoutbox/takeout-box03.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,2},{82,90}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{82,90}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>tree1/TE1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{88,100}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{88,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree1/TE2.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{86,100}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,8},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree1/TE3.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,104},{88,100}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,8},{88,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree1/TE4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,104},{86,100}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree1/TE5.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{86,100}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree1/TE6.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,104},{86,100}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree1/TE7.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{86,100}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{86,100}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree2/T1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{100,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree2/T2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{94,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{94,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree2/T3.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{88,108}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{88,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree2/T4.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,112},{82,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{82,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
            <key>tree2/T5.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,112},{90,108}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{90,108}}</string>
                <key>sourceSize</key>
                <string>{100,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>animations4.png</string>
            <key>size</key>
            <string>{1112,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ebf268c26e5dc110e14a7a5f5a49596:0b2abaee519926e2012f5c3167001360:8976b4450a4a48a9299009a8a07c9862$</string>
            <key>textureFileName</key>
            <string>animations4.png</string>
        </dict>
    </dict>
</plist>
