<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{30,41}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{30,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{32,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{32,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{30,39}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{30,39}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{30,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{30,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{34,39}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{34,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{34,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{34,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{34,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,41}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
            <key>fire2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,2},{34,39}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{34,39}}</string>
                <key>sourceSize</key>
                <string>{36,41}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire2.png</string>
            <key>size</key>
            <string>{346,45}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43bb01eb697c37c8860cee7f3285ca81:de97a667ccc588a711b143b6fef101d4:a08a639c8cf72ee0d201ed5c90d826a2$</string>
            <key>textureFileName</key>
            <string>fire2.png</string>
        </dict>
    </dict>
</plist>
