<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shinobi_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{419,93},{34,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,45}</string>
                <key>spriteSourceSize</key>
                <string>{36,45}</string>
                <key>textureRect</key>
                <string>{{334,1},{36,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,38}</string>
                <key>spriteSourceSize</key>
                <string>{41,38}</string>
                <key>textureRect</key>
                <string>{{597,89},{41,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,37}</string>
                <key>spriteSourceSize</key>
                <string>{42,37}</string>
                <key>textureRect</key>
                <string>{{553,90},{42,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{770,43},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,40}</string>
                <key>textureRect</key>
                <string>{{736,1},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{25,44}</string>
                <key>spriteSourceSize</key>
                <string>{27,46}</string>
                <key>textureRect</key>
                <string>{{103,101},{25,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,46}</string>
                <key>spriteSourceSize</key>
                <string>{32,46}</string>
                <key>textureRect</key>
                <string>{{217,49},{32,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,43}</string>
                <key>spriteSourceSize</key>
                <string>{41,43}</string>
                <key>textureRect</key>
                <string>{{442,47},{41,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{630,45},{41,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,38}</string>
                <key>spriteSourceSize</key>
                <string>{40,38}</string>
                <key>textureRect</key>
                <string>{{724,87},{40,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{682,87},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{254,1},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,43}</string>
                <key>spriteSourceSize</key>
                <string>{34,43}</string>
                <key>textureRect</key>
                <string>{{464,92},{34,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{27,44}</string>
                <key>spriteSourceSize</key>
                <string>{29,46}</string>
                <key>textureRect</key>
                <string>{{441,1},{27,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,42}</string>
                <key>spriteSourceSize</key>
                <string>{32,42}</string>
                <key>textureRect</key>
                <string>{{329,95},{32,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{509,91},{34,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{560,45},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,43}</string>
                <key>spriteSourceSize</key>
                <string>{30,45}</string>
                <key>textureRect</key>
                <string>{{193,97},{30,43}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{149,99},{28,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{27,43}</string>
                <key>spriteSourceSize</key>
                <string>{27,45}</string>
                <key>textureRect</key>
                <string>{{505,1},{27,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{28,42}</string>
                <key>spriteSourceSize</key>
                <string>{28,44}</string>
                <key>textureRect</key>
                <string>{{605,1},{28,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{470,1},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,45}</string>
                <key>spriteSourceSize</key>
                <string>{40,45}</string>
                <key>textureRect</key>
                <string>{{251,49},{40,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,41}</string>
                <key>spriteSourceSize</key>
                <string>{52,41}</string>
                <key>textureRect</key>
                <string>{{1,1},{52,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,41}</string>
                <key>spriteSourceSize</key>
                <string>{48,41}</string>
                <key>textureRect</key>
                <string>{{88,1},{48,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,41}</string>
                <key>spriteSourceSize</key>
                <string>{46,41}</string>
                <key>textureRect</key>
                <string>{{170,1},{46,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,42}</string>
                <key>spriteSourceSize</key>
                <string>{38,42}</string>
                <key>textureRect</key>
                <string>{{520,46},{38,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{30,42}</string>
                <key>spriteSourceSize</key>
                <string>{30,44}</string>
                <key>textureRect</key>
                <string>{{238,97},{30,42}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{29,41}</string>
                <key>spriteSourceSize</key>
                <string>{29,43}</string>
                <key>textureRect</key>
                <string>{{706,44},{29,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{29,40}</string>
                <key>spriteSourceSize</key>
                <string>{29,42}</string>
                <key>textureRect</key>
                <string>{{769,1},{29,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{31,40}</string>
                <key>spriteSourceSize</key>
                <string>{31,42}</string>
                <key>textureRect</key>
                <string>{{737,43},{31,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{372,1},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,44}</string>
                <key>spriteSourceSize</key>
                <string>{33,44}</string>
                <key>textureRect</key>
                <string>{{373,94},{33,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,45}</string>
                <key>spriteSourceSize</key>
                <string>{37,45}</string>
                <key>textureRect</key>
                <string>{{295,1},{37,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{31,41}</string>
                <key>spriteSourceSize</key>
                <string>{31,43}</string>
                <key>textureRect</key>
                <string>{{703,1},{31,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{635,1},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{176,49},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,46}</string>
                <key>spriteSourceSize</key>
                <string>{39,46}</string>
                <key>textureRect</key>
                <string>{{213,1},{39,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,45}</string>
                <key>spriteSourceSize</key>
                <string>{39,45}</string>
                <key>textureRect</key>
                <string>{{293,48},{39,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,44}</string>
                <key>spriteSourceSize</key>
                <string>{36,44}</string>
                <key>textureRect</key>
                <string>{{404,47},{36,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{669,1},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,39}</string>
                <key>spriteSourceSize</key>
                <string>{38,39}</string>
                <key>textureRect</key>
                <string>{{764,85},{38,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,37}</string>
                <key>spriteSourceSize</key>
                <string>{47,37}</string>
                <key>textureRect</key>
                <string>{{131,1},{47,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,30}</string>
                <key>spriteSourceSize</key>
                <string>{50,30}</string>
                <key>textureRect</key>
                <string>{{23,55},{50,30}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,43}</string>
                <key>spriteSourceSize</key>
                <string>{33,43}</string>
                <key>textureRect</key>
                <string>{{485,46},{33,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,31}</string>
                <key>spriteSourceSize</key>
                <string>{49,31}</string>
                <key>textureRect</key>
                <string>{{55,53},{49,31}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{47,27}</string>
                <key>spriteSourceSize</key>
                <string>{51,27}</string>
                <key>textureRect</key>
                <string>{{147,50},{47,27}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{51,20}</string>
                <key>spriteSourceSize</key>
                <string>{53,20}</string>
                <key>textureRect</key>
                <string>{{1,55},{51,20}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,17}</string>
                <key>spriteSourceSize</key>
                <string>{52,17}</string>
                <key>textureRect</key>
                <string>{{44,1},{50,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{50,18}</string>
                <key>spriteSourceSize</key>
                <string>{52,18}</string>
                <key>textureRect</key>
                <string>{{1,108},{50,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,41}</string>
                <key>spriteSourceSize</key>
                <string>{32,41}</string>
                <key>textureRect</key>
                <string>{{672,44},{32,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{800,1},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,37}</string>
                <key>spriteSourceSize</key>
                <string>{44,37}</string>
                <key>textureRect</key>
                <string>{{365,48},{44,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,31}</string>
                <key>spriteSourceSize</key>
                <string>{45,31}</string>
                <key>textureRect</key>
                <string>{{282,96},{45,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{44,29}</string>
                <key>spriteSourceSize</key>
                <string>{44,31}</string>
                <key>textureRect</key>
                <string>{{410,1},{44,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,42}</string>
                <key>spriteSourceSize</key>
                <string>{34,42}</string>
                <key>textureRect</key>
                <string>{{534,1},{34,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,29}</string>
                <key>spriteSourceSize</key>
                <string>{45,29}</string>
                <key>textureRect</key>
                <string>{{334,48},{45,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,23}</string>
                <key>spriteSourceSize</key>
                <string>{49,23}</string>
                <key>textureRect</key>
                <string>{{63,1},{49,23}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,17}</string>
                <key>spriteSourceSize</key>
                <string>{48,17}</string>
                <key>textureRect</key>
                <string>{{128,51},{48,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{53,107},{48,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{88,51},{48,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,18}</string>
                <key>spriteSourceSize</key>
                <string>{48,18}</string>
                <key>textureRect</key>
                <string>{{108,51},{48,18}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>shinobi_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{570,1},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,42}</string>
                <key>spriteSourceSize</key>
                <string>{33,42}</string>
                <key>textureRect</key>
                <string>{{595,45},{33,42}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shinobi_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{39,40}</string>
                <key>spriteSourceSize</key>
                <string>{39,40}</string>
                <key>textureRect</key>
                <string>{{640,88},{39,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>shinobi.png</string>
            <key>size</key>
            <string>{839,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2688525b3f9d018bf3f15d6070f2078b:f6bd2f8f39ceaadc1fbf3d7eb4a1a033:37444cb0086879c88cc757146e7c2798$</string>
            <key>textureFileName</key>
            <string>shinobi.png</string>
        </dict>
    </dict>
</plist>
