<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sniper-tower-L2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,236},{104,114}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{104,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,246},{120,114}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{120,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,124},{118,116}}</string>
                <key>offset</key>
                <string>{-18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{118,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,246},{118,118}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{118,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{114,118}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{114,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,2},{114,116}}</string>
                <key>offset</key>
                <string>{-15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{114,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,122},{116,116}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{116,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,2},{102,116}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{102,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,120},{102,114}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,6},{102,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,240},{104,114}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{104,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,340},{104,114}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{104,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{122,114}}</string>
                <key>offset</key>
                <string>{17,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,6},{122,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{122,116}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,4},{122,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,118}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,2},{122,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,366},{114,118}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{114,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,118},{114,116}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{114,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{116,116}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{116,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,234},{104,116}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,4},{104,116}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,356},{104,114}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{104,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,352},{104,114}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{104,114}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,364},{104,118}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{120,118}}</string>
                <key>offset</key>
                <string>{-18,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{120,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,372},{118,120}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,124},{116,120}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{116,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,124},{112,120}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,124},{114,120}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,366},{114,118}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{114,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,122},{102,118}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{102,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,242},{102,118}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{102,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{104,118}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,364},{104,118}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,122},{104,118}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,118}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,2},{122,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,374},{120,120}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,250},{120,120}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{112,120}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{112,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{114,120}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{114,120}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,244},{114,118}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{114,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,242},{104,118}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,362},{104,118}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{104,118}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
            <key>Sniper-tower-L2-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,122},{104,118}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,2},{104,118}}</string>
                <key>sourceSize</key>
                <string>{156,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.2.png</string>
            <key>size</key>
            <string>{1140,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ff0060952e01c3c91ff675c5e4780537:6c4f382779b4f279d0bbf0fb5d4545ba:6880e63fd3cebbe461e8ea30f7721684$</string>
            <key>textureFileName</key>
            <string>laser.2.png</string>
        </dict>
    </dict>
</plist>
