<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sniper-tower-L3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,397},{115,127}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{115,127}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,675},{135,127}}</string>
                <key>offset</key>
                <string>{-18,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{135,127}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{133,131}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{133,131}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{133,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,542},{125,131}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{125,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,135},{127,131}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{127,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,135},{127,129}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{127,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,631},{113,129}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{113,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,746},{113,129}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{113,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,403},{115,127}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{115,127}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,514},{115,127}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,6},{115,127}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1215},{133,127}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,6},{133,127}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1217},{133,129}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{133,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{133,131}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{133,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1054},{125,131}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,2},{125,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1187},{125,131}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{125,131}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,266},{127,129}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{127,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1131},{113,129}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{113,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,1262},{113,129}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,4},{113,129}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,655},{115,127}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{115,127}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,675},{115,133}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,133}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{135,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,405},{131,133}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,947},{129,133}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,810},{123,133}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,945},{125,133}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{125,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{127,133}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{127,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,137},{113,133}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,272},{113,133}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,407},{115,133}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,675},{115,133}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,520},{115,133}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{133,133}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{133,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,540},{131,133}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1082},{129,133}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{129,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,268},{123,133}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{123,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,919},{125,133}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{125,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,1080},{127,133}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{127,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,861},{113,133}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,996},{113,133}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{113,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,784},{115,133}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
            <key>Sniper-tower-L3-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,520},{115,133}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{115,133}}</string>
                <key>sourceSize</key>
                <string>{171,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.3.png</string>
            <key>size</key>
            <string>{510,1423}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f6f54acf333ba051fc216319e170b418:09cc2ecd5cba747da2a4b8f14f4c56b4:9170c3767e61d6ff09636f331bd95b75$</string>
            <key>textureFileName</key>
            <string>laser.3.png</string>
        </dict>
    </dict>
</plist>
