<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kitty-litter-tower-L3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,2},{139,131}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,135},{123,119}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,12},{123,119}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,135},{125,115}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,16},{125,115}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1439,133},{125,121}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{125,121}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{127,125}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,6},{127,125}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,2},{127,129}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,2},{127,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,135},{119,131}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{119,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,145},{109,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,0},{109,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{141,131}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{141,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,135},{127,117}}</string>
                <key>offset</key>
                <string>{7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,14},{127,117}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,135},{129,113}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,18},{129,113}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,135},{129,119}}</string>
                <key>offset</key>
                <string>{9,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,12},{129,119}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{131,125}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{131,125}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,2},{131,129}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{131,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{121,131}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{121,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,2},{107,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{107,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{649,2},{115,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{115,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1549,2},{107,129}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{107,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,133},{107,129}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{107,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{107,129}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{107,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{107,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{107,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1697,133},{107,129}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{107,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,143},{109,131}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{109,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{109,131}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{109,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,135},{119,131}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,0},{119,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1828,133},{107,127}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,4},{107,127}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1767,2},{107,129}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{107,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,135},{109,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,2},{109,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{109,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{109,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{135,143},{111,129}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{111,129}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1095,2},{105,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{105,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
            <key>Kitty-litter-tower-L3-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,2},{105,131}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{105,131}}</string>
                <key>sourceSize</key>
                <string>{169,131}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{2003,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5db47a42ebfe0aec4f27bfe07c938d9e:b541327c0f3eb587b4bdb0b5e9a55688:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
