<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kitty-litter-tower-L5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{138,132}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{138,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,140},{124,120}}</string>
                <key>offset</key>
                <string>{-12,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,16},{124,120}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1728,136},{126,114}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{126,114}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,140},{126,120}}</string>
                <key>offset</key>
                <string>{-13,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,16},{126,120}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,136},{128,126}}</string>
                <key>offset</key>
                <string>{-14,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,10},{128,126}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1468,136},{128,130}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{128,130}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,140},{120,132}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{120,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{112,132}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{112,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,132}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{146,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,140},{132,118}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,18},{132,118}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{134,114}}</string>
                <key>offset</key>
                <string>{6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{134,114}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{134,120}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,16},{134,120}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{136,126}}</string>
                <key>offset</key>
                <string>{7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,10},{136,126}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{136,130}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{136,130}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1334,138},{126,132}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{126,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,2},{114,132}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{114,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1844,136},{110,130}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,6},{110,130}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,2},{110,132}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1800,2},{110,132}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,2},{110,132}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1230,2},{110,134}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{110,134}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{778,2},{112,136}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,2},{112,136}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{112,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{126,136}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{126,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{114,132}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{114,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,140},{116,132}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{116,132}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,140},{116,134}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{116,134}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,140},{118,134}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{118,134}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,140},{118,134}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{118,134}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{110,136}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
            <key>Kitty-litter-tower-L5-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{110,136}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{110,136}}</string>
                <key>sourceSize</key>
                <string>{170,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{2024,266}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71e69d766bc64759e56aa5e2191d0b97:5d4381c7d0f2d6730c37444a338295f2:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
