<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>airship_go0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{172,154}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,2},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,158},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,176},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,314},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,350},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,470},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,524},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{172,154}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,36},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,626},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,698},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,782},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,872},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{172,154}}</string>
                <key>offset</key>
                <string>{0,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,35},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>airship_go0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,938},{172,154}}</string>
                <key>offset</key>
                <string>{0,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,34},{172,154}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>shadow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1094},{197,68}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{197,68}}</string>
                <key>sourceSize</key>
                <string>{217,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>airship.png</string>
            <key>size</key>
            <string>{506,1164}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2158efa6bd100a72948cd81bd3730d17:5ebb832133af09511c73b911d1d15363:5e048f0fd7708968c6f03e1fbb7fe2a8$</string>
            <key>textureFileName</key>
            <string>airship.png</string>
        </dict>
    </dict>
</plist>
