<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CaveCat-Frontwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{37,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{37,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{37,43}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{37,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1047,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-Frontwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{37,45}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,16},{37,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{33,43}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,2},{29,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{29,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{29,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{29,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1711,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{43,57}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{43,57}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{33,43}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-attack-side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{33,43}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,2},{29,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{29,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{29,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{29,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1805,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{29,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{29,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,2},{31,43}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{31,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,2},{31,43}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{31,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{31,43}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{31,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1899,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1946,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1993,2},{29,45}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,16},{29,45}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat-walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,2},{29,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,18},{29,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1308,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1339,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1401,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1525,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1587,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,21},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1649,2},{29,37}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,22},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>CaveCat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,2},{29,37}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,23},{29,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{33,43}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,18},{33,43}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{603,2},{31,41}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,20},{31,41}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,2},{33,39}}</string>
                <key>offset</key>
                <string>{6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,22},{33,39}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{33,37}}</string>
                <key>offset</key>
                <string>{8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{33,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1176,2},{31,37}}</string>
                <key>offset</key>
                <string>{9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{31,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,2},{31,37}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{31,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,2},{31,37}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{31,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
            <key>Cavecat-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{31,37}}</string>
                <key>offset</key>
                <string>{9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{31,37}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cavecat.png</string>
            <key>size</key>
            <string>{2040,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed2957d357f3dda4227e178fef3d70aa:b913b6f0bf9cf026cecd4eb365355a81:b2a13a0c33d6432fb935f65de4d5c4e7$</string>
            <key>textureFileName</key>
            <string>cavecat.png</string>
        </dict>
    </dict>
</plist>
