<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down/cyberman1_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,74},{28,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,9},{28,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,154},{26,36}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,154},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,42},{24,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{24,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,114},{22,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{22,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,40},{24,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{24,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,40},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,110},{26,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,80},{28,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{28,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,110},{26,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,78},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,114},{24,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{24,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,114},{22,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{22,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,114},{24,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,7},{24,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,114},{26,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,7},{26,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>down/cyberman1_front_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,152},{28,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,7},{28,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,2},{54,38}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{54,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,74},{54,38}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{54,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{56,36}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{56,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,116},{56,34}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,9},{56,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{56,36}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,7},{56,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,38},{56,34}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{56,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{62,34}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{62,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{62,34}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{62,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{64,36}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,7},{64,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{64,34}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,9},{64,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,34}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{66,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{64,36}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,7},{64,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,36}}</string>
                <key>offset</key>
                <string>{-17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{66,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,40},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{34,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,40},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{34,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>fire/cyberman1_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,40},{34,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,7},{34,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,38},{36,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,76},{34,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{34,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{36,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{36,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,38},{36,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{36,42}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,38},{36,40}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,4},{36,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,76},{36,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,114},{36,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,114},{38,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,6},{38,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,112},{36,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,76},{34,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,4},{34,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,78},{30,40}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{30,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,78},{30,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{30,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,42},{30,40}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,4},{30,40}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,40},{34,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{34,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,76},{36,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>left/cyberman1_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,40},{36,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,6},{36,38}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,152},{28,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{28,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,146},{26,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,110},{26,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,110},{24,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{24,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,106},{22,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{22,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,146},{24,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{24,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,146},{26,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,110},{26,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,152},{28,32}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,11},{28,32}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,146},{26,34}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,110},{26,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,110},{24,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{24,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,144},{22,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,7},{22,36}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,146},{24,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,9},{24,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,146},{26,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,9},{26,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
            <key>up/cyberman1_back_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,152},{28,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,9},{28,34}}</string>
                <key>sourceSize</key>
                <string>{100,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cyberman1.png</string>
            <key>size</key>
            <string>{492,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2ad85edd2b8dbba328b2f534fa8fdd3:e02f400aa0687646494d3b26fe662a3a:028791467e6d6afac8844dd2c3d7cadf$</string>
            <key>textureFileName</key>
            <string>cyberman1.png</string>
        </dict>
    </dict>
</plist>
