<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Death_stage0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,487},{66,17}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,77},{66,17}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,81}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{102,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,85},{102,81}}</string>
                <key>offset</key>
                <string>{1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,21},{102,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,258},{68,55}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,47},{68,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,179},{64,53}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,49},{64,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,315},{62,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,45},{62,57}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,453},{64,57}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,45},{64,57}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,315},{66,61}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,44},{66,61}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,383},{68,65}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,38},{68,65}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,184},{72,69}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,35},{72,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{76,79}}</string>
                <key>offset</key>
                <string>{-2,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,25},{76,79}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,97},{80,91}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{80,91}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{86,93}}</string>
                <key>offset</key>
                <string>{-2,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,15},{86,93}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,282},{68,99}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,8},{68,99}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,179},{68,101}}</string>
                <key>offset</key>
                <string>{-4,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{68,101}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{70,105}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{70,105}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{70,107}}</string>
                <key>offset</key>
                <string>{-4,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,3},{70,107}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{72,101}}</string>
                <key>offset</key>
                <string>{-4,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{72,101}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,383},{72,97}}</string>
                <key>offset</key>
                <string>{-4,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{72,97}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,83},{70,99}}</string>
                <key>offset</key>
                <string>{-3,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{70,99}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,245},{42,67}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,23},{42,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,379},{40,69}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,21},{40,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,482},{38,21}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,68},{38,21}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,450},{38,19}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,70},{38,19}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,471},{36,19}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,70},{36,19}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,492},{34,17}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,72},{34,17}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,482},{32,15}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,74},{32,15}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,379},{10,11}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,75},{10,11}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,168},{8,7}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,78},{8,7}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>Death_stage0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,83},{1,1}}</string>
                <key>offset</key>
                <string>{-54.5,73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>death.png</string>
            <key>size</key>
            <string>{272,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d2a173b9c1270912496569f2f41036f9:885c2e1a1b32bce379bce72fcdc4c5f8:93e1a4172adad0416fcc4262b4b74fcf$</string>
            <key>textureFileName</key>
            <string>death.png</string>
        </dict>
    </dict>
</plist>
