<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dron10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,33}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{52,33}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{52,31}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{52,31}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{52,31}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{52,31}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{52,29}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,54},{52,29}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{52,27}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,55},{52,27}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{52,27}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,55},{52,27}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,225},{52,27}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,54},{52,27}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{52,27}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,55},{52,27}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{52,27}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,55},{52,27}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{52,29}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,54},{52,29}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,103},{52,31}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{52,31}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,37},{52,31}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{52,31}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>dron10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,33}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{52,33}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dron.png</string>
            <key>size</key>
            <string>{56,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e3af5c798565810383503af45957d063:38e60cf2fc95e74b76a64f07c086352f:9b9384ddeac416851ffa7c9f0bd1bc05$</string>
            <key>textureFileName</key>
            <string>dron.png</string>
        </dict>
    </dict>
</plist>
