<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down/flamethrower_front0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,313},{54,55}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{54,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{54,55}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{54,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,259},{52,57}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,15},{52,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{52,57}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,15},{52,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,365},{54,55}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,17},{54,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,365},{56,55}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,17},{56,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,310},{56,53}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,310},{56,53}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,310},{60,53}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,19},{60,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,368},{60,55}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,17},{60,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,313},{54,55}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{54,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>down/flamethrower_front0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{54,55}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,17},{54,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{72,49}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,23},{72,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{76,49}}</string>
                <key>offset</key>
                <string>{-8,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,23},{76,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{80,49}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,23},{80,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{86,49}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{86,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{84,49}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{84,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{84,49}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{84,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,53},{82,49}}</string>
                <key>offset</key>
                <string>{-11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{82,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,53},{84,49}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{84,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,53},{84,49}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{84,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,53},{86,49}}</string>
                <key>offset</key>
                <string>{-13,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{86,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{84,49}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{84,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,104},{86,49}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{86,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,104},{86,49}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{86,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,104},{86,49}}</string>
                <key>offset</key>
                <string>{-13,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,23},{86,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,104},{84,49}}</string>
                <key>offset</key>
                <string>{-12,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,23},{84,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,257},{90,51}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{90,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{90,49}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{90,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,155},{90,49}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{90,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,155},{88,49}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{88,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,155},{88,49}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{88,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,155},{88,49}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{88,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{88,49}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{88,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,206},{88,49}}</string>
                <key>offset</key>
                <string>{-14,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,23},{88,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,206},{90,49}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,23},{90,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>fire/flamethrower_fire_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,2},{62,49}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{62,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,310},{56,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,310},{56,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,313},{58,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{58,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,365},{58,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{58,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,206},{58,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{58,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,257},{60,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{60,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,257},{62,51}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,257},{62,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{62,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,206},{66,49}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{66,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,206},{64,49}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{64,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,257},{60,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{60,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,257},{60,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{60,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,310},{56,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,310},{56,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{355,313},{58,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{58,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,365},{58,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,19},{58,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,206},{58,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,21},{58,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,257},{60,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{60,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,257},{62,51}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{62,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,257},{62,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,21},{62,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,206},{66,49}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,23},{66,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,206},{64,49}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,23},{64,49}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,257},{60,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{60,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,257},{60,51}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,21},{60,51}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>left/flamethrower_go0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,310},{56,53}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,19},{56,53}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,369},{58,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{58,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,422},{56,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,365},{54,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{54,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,365},{54,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{54,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,425},{56,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,426},{58,57}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{58,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{62,55}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{62,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,421},{60,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{60,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,421},{62,55}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{62,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,421},{64,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{64,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,369},{58,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{58,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,422},{56,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,365},{54,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{54,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,365},{54,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{54,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,425},{56,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,426},{58,57}}</string>
                <key>offset</key>
                <string>{10,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,15},{58,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{62,55}}</string>
                <key>offset</key>
                <string>{9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{62,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,421},{60,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{60,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,421},{62,55}}</string>
                <key>offset</key>
                <string>{11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,17},{62,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,421},{64,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,17},{64,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,369},{58,55}}</string>
                <key>offset</key>
                <string>{10,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{58,55}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,422},{56,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,365},{54,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{54,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,365},{54,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,15},{54,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
            <key>up/flamethrower_back0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,425},{56,57}}</string>
                <key>offset</key>
                <string>{11,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,15},{56,57}}</string>
                <key>sourceSize</key>
                <string>{120,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flamethrower.png</string>
            <key>size</key>
            <string>{474,485}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e1534d7abb6032eced0ed894ba112af:d341045d1005e563f3fe33375e10c5cc:cd171d127506c51c226afb5597433bd7$</string>
            <key>textureFileName</key>
            <string>flamethrower.png</string>
        </dict>
    </dict>
</plist>
