<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CatFly-Front00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{56,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{56,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{56,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{56,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{56,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{56,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{56,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{56,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{56,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{56,42}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{56,42}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{56,40}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,17},{56,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{56,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{56,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{56,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{56,38}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{56,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{56,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{56,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{56,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,19},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,528},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Front23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{56,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,38}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{46,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{46,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{46,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly-Side13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1428},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,606},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,720},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{56,36}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{56,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,21},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1024},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1062},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>CatFly23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{56,36}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,22},{56,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{46,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1392},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1356},{46,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1278},{46,40}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,17},{46,40}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{46,44}}</string>
                <key>offset</key>
                <string>{-4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{46,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1186},{48,44}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,20},{48,44}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{50,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{50,36}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1100},{50,46}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,18},{50,46}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1464},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{46,34}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,21},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1536},{46,34}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,22},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1572},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1608},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,23},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1644},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1680},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,24},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1716},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1752},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,25},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1788},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
            <key>Fly-death22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1824},{46,34}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,27},{46,34}}</string>
                <key>sourceSize</key>
                <string>{78,78}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flyingcat.png</string>
            <key>size</key>
            <string>{60,1860}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28cebabd2ff1a9736a162bd988b3628a:22940ff7da55bb72fc5089fe8d42efc8:530fb0db7015b598ef122c0a2518a366$</string>
            <key>textureFileName</key>
            <string>flyingcat.png</string>
        </dict>
    </dict>
</plist>
