<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jeep_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,254},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,254},{86,82}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{86,82}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,170},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,170},{86,82}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,86},{86,82}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,86},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{86,82}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,2},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{86,82}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{86,82}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,60},{86,82}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,418},{76,72}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,70},{76,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,338},{78,72}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,70},{78,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,424},{82,72}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,70},{82,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,338},{84,72}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,70},{84,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,414},{74,72}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,70},{74,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,338},{74,72}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,70},{74,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{66,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,70},{66,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jeep.fire.png</string>
            <key>size</key>
            <string>{318,498}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07e080964ac3d99db3f19909628a0c35:91672b713544102910d38b87f8972d25:3df070c12e5497847b993160825afa88$</string>
            <key>textureFileName</key>
            <string>jeep.fire.png</string>
        </dict>
    </dict>
</plist>
