<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Laser-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,52},{32,48}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,25},{32,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,92},{32,44}}</string>
                <key>offset</key>
                <string>{-12,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,29},{32,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1110,48},{34,42}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,31},{34,42}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,86},{34,38}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,35},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,86},{36,38}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,35},{36,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,86},{34,38}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,86},{34,38}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>Laser-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,86},{34,38}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,35},{34,38}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,50},{56,50}}</string>
                <key>offset</key>
                <string>{1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{56,50}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{48,46}}</string>
                <key>offset</key>
                <string>{5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,26},{48,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{50,46}}</string>
                <key>offset</key>
                <string>{4,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{50,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,46}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{70,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,48}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{70,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{70,48}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{70,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{54,48}}</string>
                <key>offset</key>
                <string>{2,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,24},{54,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-Attack16.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back00.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back03.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back05.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back06.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back07.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back08.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back09.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back10.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{44,48}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{44,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back11.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-back12.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front00.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,2},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front03.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,52},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front04.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,50},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front05.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,50},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front06.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front07.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front08.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front09.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front10.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{44,46}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,24},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front11.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-front12.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,48},{44,44}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,26},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,48},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side07.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side08.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side09.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side10.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,48},{36,48}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,24},{36,48}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>LaserCat-walk-side12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,86},{36,46}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,26},{36,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lasercat.png</string>
            <key>size</key>
            <string>{1146,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de7de8dfdc6fa9ae89b918b9d9893b3d:fb53d5aff77c1bab2e4f97bf62169988:742865762b9afe3793db94938decec9f$</string>
            <key>textureFileName</key>
            <string>lasercat.png</string>
        </dict>
    </dict>
</plist>
