<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>medik_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,42},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{27,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{29,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,31},{27,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,33},{27,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,82},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,91},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,60},{27,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{29,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,2},{29,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{33,62},{27,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,89},{27,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,42},{25,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,5},{25,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{27,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,5},{27,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{29,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_back_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{29,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{29,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>medic.up.png</string>
            <key>size</key>
            <string>{140,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be4ded0f37ed996ab91a677ce6e34e69:2a326d5560d1a0b3ac48f6471390f95a:34616dfbf0ecf5a0bb0f547fd192e439$</string>
            <key>textureFileName</key>
            <string>medic.up.png</string>
        </dict>
    </dict>
</plist>
