<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>medik_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{33,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{33,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,82},{35,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{35,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{33,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,35},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,35},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,42},{33,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,82},{33,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{33,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,82},{35,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,8},{35,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_run_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,42},{31,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{31,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>medic.left.png</string>
            <key>size</key>
            <string>{185,122}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:68847816d54c15da5736d487e910a50b:055c9a917ca2b2c1231caa20d2dc7eb4:be5b9c9d75c3f0b74f6a05241896e802$</string>
            <key>textureFileName</key>
            <string>medic.left.png</string>
        </dict>
    </dict>
</plist>
