<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meh_b2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,116},{110,126}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,49},{110,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,114},{110,140}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,35},{110,140}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,1},{114,156}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,19},{114,156}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{116,168}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,7},{116,168}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,398},{124,142}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,33},{124,142}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,114},{130,132}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,43},{130,132}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,267},{144,130}}</string>
                <key>offset</key>
                <string>{-15,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,45},{144,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,136},{146,130}}</string>
                <key>offset</key>
                <string>{-16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,45},{146,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,1},{150,134}}</string>
                <key>offset</key>
                <string>{-18,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,43},{150,134}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,1},{152,114}}</string>
                <key>offset</key>
                <string>{-19,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,64},{152,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{909,1},{154,112}}</string>
                <key>offset</key>
                <string>{-20,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,64},{154,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,1},{158,112}}</string>
                <key>offset</key>
                <string>{-22,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,63},{158,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,341},{164,112}}</string>
                <key>offset</key>
                <string>{-25,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,63},{164,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,170},{170,112}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,63},{170,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,1},{170,112}}</string>
                <key>offset</key>
                <string>{-28,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,63},{170,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,241},{110,112}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{62,63},{110,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,225},{90,132}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,41},{90,132}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,156},{94,130}}</string>
                <key>offset</key>
                <string>{3,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,43},{94,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,419},{98,128}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,45},{98,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,223},{102,126}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,47},{102,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,116},{106,126}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,47},{106,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,116},{110,124}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{110,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,401},{104,126}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,47},{104,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,421},{96,126}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,47},{96,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,330},{90,128}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,45},{90,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,251},{88,130}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,43},{88,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,316},{84,132}}</string>
                <key>offset</key>
                <string>{-2,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,41},{84,132}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,245},{84,130}}</string>
                <key>offset</key>
                <string>{-2,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,43},{84,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,354},{84,128}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,45},{84,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,340},{84,126}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,47},{84,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{769,453},{84,126}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,47},{84,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,245},{84,124}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,49},{84,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,425},{84,124}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,49},{84,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{781,326},{86,126}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,47},{86,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,439},{88,128}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,45},{88,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,330},{88,130}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,43},{88,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meh2.png</string>
            <key>size</key>
            <string>{1023,540}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60fbbdaaccdb473782a7bdd7d000f36a:b38a663e168e43e596192b350d1668fa:82b6d4868a5044db03a0c2ccec8e63f4$</string>
            <key>textureFileName</key>
            <string>meh2.png</string>
        </dict>
    </dict>
</plist>
