<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meh_go3_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,284},{90,118}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,57},{90,118}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,116},{92,116}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{92,116}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,340},{96,116}}</string>
                <key>offset</key>
                <string>{6,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,59},{96,116}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,1},{100,114}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,61},{100,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,1},{104,114}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,61},{104,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,114},{108,112}}</string>
                <key>offset</key>
                <string>{5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{108,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{110,112}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,63},{110,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,227},{104,112}}</string>
                <key>offset</key>
                <string>{6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,63},{104,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1},{98,114}}</string>
                <key>offset</key>
                <string>{6,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{72,61},{98,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,1},{94,114}}</string>
                <key>offset</key>
                <string>{5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,61},{94,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,193},{90,116}}</string>
                <key>offset</key>
                <string>{4,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,59},{90,116}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,233},{86,116}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,59},{86,116}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,375},{84,118}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,57},{84,118}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,276},{84,116}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,59},{84,116}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,100},{84,114}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,61},{84,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,102},{84,114}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,61},{84,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,361},{84,112}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{84,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,361},{84,112}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,63},{84,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,350},{84,110}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,65},{84,110}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,361},{84,112}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,63},{84,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,274},{86,112}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,63},{86,112}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,106},{86,114}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,61},{86,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,185},{88,114}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{74,61},{88,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go3_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{227,187},{88,114}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,61},{88,114}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meh3.png</string>
            <key>size</key>
            <string>{567,474}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:454aa6622863a6a30cc16723005470c9:24ec63d8104c8877c6890ec5c907c134:6bd8ba5979a53e98e701e91ef3c7b162$</string>
            <key>textureFileName</key>
            <string>meh3.png</string>
        </dict>
    </dict>
</plist>
