<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1_left_right0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{66,67}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{66,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,69}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{66,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,73},{66,69}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{66,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,69}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{66,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{66,69}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{66,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,73},{66,69}}</string>
                <key>offset</key>
                <string>{1,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{66,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,73},{66,67}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{66,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,144},{66,67}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{66,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_left_right0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,142},{66,67}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{66,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.left.png</string>
            <key>size</key>
            <string>{206,213}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba348f6b04cbb22532e1150db2e23260:f69eb1c97d71a4e5f40aa379ef191d6c:9702f0d2560f02749689587707d06f93$</string>
            <key>textureFileName</key>
            <string>tank.left.png</string>
        </dict>
    </dict>
</plist>
