<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1_down0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{68,75}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{68,75}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,81},{68,75}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{68,75}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,160},{68,75}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{68,75}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,77}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{68,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,81},{68,77}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{68,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,77}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{68,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,77}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{68,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,81},{68,77}}</string>
                <key>offset</key>
                <string>{0,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{68,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_down0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,158},{68,75}}</string>
                <key>offset</key>
                <string>{0,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{68,75}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.down.png</string>
            <key>size</key>
            <string>{212,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7c34682a0cb5f297544e9544659cd008:d58769cce313d11b7ebf01b92515da11:a5a558fc6702f56dafa16388a7dd3ca5$</string>
            <key>textureFileName</key>
            <string>tank.down.png</string>
        </dict>
    </dict>
</plist>
