<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1_up0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,77},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,77},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,152},{68,73}}</string>
                <key>offset</key>
                <string>{0,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{68,73}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_up0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,152},{68,71}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,14},{68,71}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.up.png</string>
            <key>size</key>
            <string>{212,227}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d76dde950db198508fce3b1e894b089:d79ca63c0f105cecc315ff71c2114d05:7cc816ae78d31e883a7e3513d10aa1fc$</string>
            <key>textureFileName</key>
            <string>tank.up.png</string>
        </dict>
    </dict>
</plist>
