<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,469},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,469},{191,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,59}}</string>
                <key>sourceSize</key>
                <string>{191,59}</string>
            </dict>
            <key>progress1.png</key>
            <dict>
                <key>frame</key>
                <string>{{267,530},{215,31}}</string>
                <key>offset</key>
                <string>{9,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{215,31}}</string>
                <key>sourceSize</key>
                <string>{233,57}</string>
            </dict>
            <key>progress2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,530},{207,25}}</string>
                <key>offset</key>
                <string>{0,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{207,25}}</string>
                <key>sourceSize</key>
                <string>{207,57}</string>
            </dict>
            <key>star_for_button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,557},{19,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,18}}</string>
                <key>sourceSize</key>
                <string>{19,18}</string>
            </dict>
            <key>star_for_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,469},{57,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,53}}</string>
                <key>sourceSize</key>
                <string>{57,53}</string>
            </dict>
            <key>w2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{320,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,465}}</string>
                <key>sourceSize</key>
                <string>{320,465}</string>
            </dict>
            <key>w2_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{320,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,465}}</string>
                <key>sourceSize</key>
                <string>{320,465}</string>
            </dict>
            <key>w2_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{320,465}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,465}}</string>
                <key>sourceSize</key>
                <string>{320,465}</string>
            </dict>
            <key>win_for_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,469},{263,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{263,108}}</string>
                <key>sourceSize</key>
                <string>{263,108}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>unlock.png</string>
            <key>size</key>
            <string>{968,579}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79da63867e62a0cbc78f969d29ff23ff:5ea5a72ff29f261afd59e8ad17086fe1:3b539950f84bcbff54cea9534806ce64$</string>
            <key>textureFileName</key>
            <string>unlock.png</string>
        </dict>
    </dict>
</plist>
