<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball-of-yarn-tower-L1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{87,91}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,937},{87,85}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,48},{87,85}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,133}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,137},{87,127}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{87,127}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{87,107}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{87,107}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,375},{87,97}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{87,97}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,567},{87,91}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,846},{87,89}}</string>
                <key>offset</key>
                <string>{0,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,44},{87,89}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{87,91}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,753},{87,91}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
            <key>Ball-of-yarn-tower-L1-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{87,91}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,42},{87,91}}</string>
                <key>sourceSize</key>
                <string>{87,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{91,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b6ffc80f50c38f08cae7f6201d8df34:0b5b111f2825467a9235ecc7975113fb:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
