<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball-of-yarn-tower-L3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{86,108}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{86,108}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1104},{88,106}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,40},{88,106}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,146}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{88,140}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{88,140}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{88,122}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{88,122}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{88,116}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,116}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{88,114}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{88,114}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{88,110}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{88,110}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{88,112}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,764},{88,112}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
            <key>Ball-of-yarn-tower-L3-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{88,112}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{88,112}}</string>
                <key>sourceSize</key>
                <string>{88,146}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{92,1335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5693cdc23b247e33444f729f556c376:2538206e0d3b23fbfe011c9c3eaf75a7:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
