<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball-of-yarn-tower-L4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{103,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,114}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{103,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,114}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{109,140}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,140}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{107,142}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,142}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{103,138}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{103,138}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{103,120}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,22},{103,120}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{103,116}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{103,116}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1132},{103,112}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{103,112}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,900},{103,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,114}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1016},{103,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,114}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
            <key>Ball-of-yarn-tower-L4-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{103,114}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{103,114}}</string>
                <key>sourceSize</key>
                <string>{109,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{113,1246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:851f77c229bd92f6e06e0c493ef56526:ed5e760a3e0ab620911759556672fcf2:aea8e837dce9be4396a19dc32cf6304d$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
