<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L1-0030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0031.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,1},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0032.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0033.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,153},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0034.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0035.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,305},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0036.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,457},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0037.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,457},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0038.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,609},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0039.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,609},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,761},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,761},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,913},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,913},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{1,1065},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire-tower-L1-0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{194,150}</string>
                <key>spriteSourceSize</key>
                <string>{194,150}</string>
                <key>textureRect</key>
                <string>{{197,1065},{194,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.2.png</string>
            <key>size</key>
            <string>{392,1216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b47720cf1d6941b753824e66392a50b:17a5fec86faf6f5661fdd98c0406291e:52352518f17bc50a44e141255d3775aa$</string>
            <key>textureFileName</key>
            <string>1.2.png</string>
        </dict>
    </dict>
</plist>
