<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1020,400},{97,124}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{97,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{111,124}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{111,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,283},{121,124}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{121,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,478},{123,124}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{123,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,506},{123,124}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{123,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,480},{123,124}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{123,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,603},{123,124}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{123,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,605},{121,124}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{121,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,598},{123,124}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{123,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,631},{121,124}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{121,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,146},{119,124}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{119,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,754},{121,124}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{121,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,877},{121,124}}</string>
                <key>offset</key>
                <string>{-18,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,24},{121,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,879},{119,124}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{119,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,877},{119,124}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{119,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,728},{119,124}}</string>
                <key>offset</key>
                <string>{-17,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,24},{119,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,780},{97,124}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{97,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1044,128},{101,124}}</string>
                <key>offset</key>
                <string>{-4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{101,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{867,728},{123,124}}</string>
                <key>offset</key>
                <string>{7,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{123,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,148},{133,124}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,24},{133,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,2},{135,124}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{135,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{135,124}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{135,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,148},{135,124}}</string>
                <key>offset</key>
                <string>{13,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{135,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,274},{135,124}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{135,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,406},{133,124}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{133,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,521},{135,124}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{135,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,532},{133,124}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{133,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{131,124}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{131,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,371},{133,124}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{133,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,352},{133,124}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{133,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,354},{131,124}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{131,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,647},{131,124}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{131,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,658},{131,124}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{131,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,728},{97,124}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{97,124}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,853},{97,122}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,26},{97,122}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,499},{97,138}}</string>
                <key>offset</key>
                <string>{-6,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,10},{97,138}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,128},{109,148}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,0},{109,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,128},{111,148}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{111,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,239},{111,148}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,0},{111,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,241},{111,146}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{111,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,596},{109,146}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{109,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,886},{111,146}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,2},{111,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,302},{111,146}}</string>
                <key>offset</key>
                <string>{-13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,2},{111,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,298},{109,146}}</string>
                <key>offset</key>
                <string>{-12,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,2},{109,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,254},{107,144}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{107,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{125,450},{107,144}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{107,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,450},{107,144}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{107,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,596},{107,144}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{107,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,742},{107,142}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{107,142}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,150},{107,140}}</string>
                <key>offset</key>
                <string>{-11,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{107,140}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{893,853},{97,118}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{97,118}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,272},{97,120}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,28},{97,120}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,886},{109,138}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{109,138}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{121,146}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{121,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{123,148}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{123,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{123,148}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{123,148}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,2},{123,146}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{123,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,150},{121,146}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{121,146}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{123,144}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{123,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{123,144}}</string>
                <key>offset</key>
                <string>{6,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{123,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{121,144}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{121,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,2},{119,142}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{119,142}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{119,144}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{119,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{119,144}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,4},{119,144}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{119,142}}</string>
                <key>offset</key>
                <string>{5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,6},{119,142}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,744},{119,140}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,8},{119,140}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,400},{119,140}}</string>
                <key>offset</key>
                <string>{5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{119,140}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
            <key>Fire-tower-L1-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,854},{97,118}}</string>
                <key>offset</key>
                <string>{-6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,30},{97,118}}</string>
                <key>sourceSize</key>
                <string>{161,148}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1151,1000}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35b49ee0b0b9093cd3c5054cb4ec5719:7094dd0e9c5aef9acdfcc703abaa632a:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
