<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret4_2_10001.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,436},{78,52}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10002.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{78,52}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10003.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,376},{86,58}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,314},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,252},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,66},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10008.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,130},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10011.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,66},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,378},{86,58}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10014.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,318},{86,58}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10015.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,438},{84,58}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,31},{84,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10016.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,216},{84,56}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{84,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{84,56}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,32},{84,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10018.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,130},{84,56}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,32},{84,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10019.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,390},{84,58}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,31},{84,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10020.png</key>
            <dict>
                <key>frame</key>
                <string>{{268,302},{86,58}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,31},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10021.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,192},{86,58}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,32},{86,58}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10022.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,256},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10025.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,2},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{88,62}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,29},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10028.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,130},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,31},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10029.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,194},{86,60}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,30},{86,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_10030.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,436},{78,52}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{78,52}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.1.png</string>
            <key>size</key>
            <string>{328,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f0772ec1d902db53ff79a19d85a8a7f:5b0a924440bd22f26b709e025e5a0413:e1e9ae49da70113d1c235d61caf0ab67$</string>
            <key>textureFileName</key>
            <string>2.1.png</string>
        </dict>
    </dict>
</plist>
