<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>turret4_2_20001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20002.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,56}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,56}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20004.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20006.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,130},{80,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,130},{80,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20008.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,130},{80,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{82,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20010.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,192},{82,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20011.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,196},{82,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,196},{80,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20013.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,196},{80,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20014.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,60},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,64},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20016.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,64},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20017.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20018.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{78,60}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,66},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20020.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,66},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{78,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{78,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{78,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20022.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,124},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20023.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,196},{80,64}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,27},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{80,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20025.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,258},{80,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20026.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,262},{82,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20027.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,262},{82,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{82,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20028.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,262},{80,64}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20029.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,262},{80,64}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,27},{80,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>turret4_2_20030.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,128},{80,62}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,29},{80,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.2.png</string>
            <key>size</key>
            <string>{500,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:76d1cc321352388d255d3de0e74022e5:6fbda49c0a777933143a5c7d99994a7c:56b032e0f522dc118a882ec500766b00$</string>
            <key>textureFileName</key>
            <string>2.2.png</string>
        </dict>
    </dict>
</plist>
