<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,310},{112,140}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{112,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,164},{124,140}}</string>
                <key>offset</key>
                <string>{-14,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,26},{124,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1254,306},{134,140}}</string>
                <key>offset</key>
                <string>{-19,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{134,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,306},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,276},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,452},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,594},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,448},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,590},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,448},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,590},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,736},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,732},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,874},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,732},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1298,874},{136,140}}</string>
                <key>offset</key>
                <string>{-20,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{136,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,782},{112,140}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{112,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,896},{118,140}}</string>
                <key>offset</key>
                <string>{-5,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{118,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,164},{140,140}}</string>
                <key>offset</key>
                <string>{5,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{140,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,630},{150,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{150,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,334},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,476},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,334},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,618},{152,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,476},{152,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,760},{152,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,618},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,760},{152,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,494},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,648},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,168},{152,140}}</string>
                <key>offset</key>
                <string>{12,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,322},{152,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,476},{152,140}}</string>
                <key>offset</key>
                <string>{11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,26},{152,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,896},{112,140}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,26},{112,140}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,902},{112,142}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{112,142}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,334},{120,158}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{120,158}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,170},{132,166}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{132,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,140},{134,166}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{134,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{136,166}}</string>
                <key>offset</key>
                <string>{-20,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,170},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,168},{134,164}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{134,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,336},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,502},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,668},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,834},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,168},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,168},{136,164}}</string>
                <key>offset</key>
                <string>{-20,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{136,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,338},{136,162}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{136,162}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,502},{136,160}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{136,160}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,664},{136,160}}</string>
                <key>offset</key>
                <string>{-20,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{136,160}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,902},{112,142}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{112,142}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,166},{116,142}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,24},{116,142}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,826},{136,158}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{136,158}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{148,166}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,166}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{150,166}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{150,164}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{150,164}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,2},{150,162}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{150,162}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,2},{150,160}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{150,160}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1216,2},{150,160}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{150,160}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
            <key>Fire-tower-L3-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,902},{112,142}}</string>
                <key>offset</key>
                <string>{-8,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,24},{112,142}}</string>
                <key>sourceSize</key>
                <string>{176,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{1536,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef347a471c68705c4882b6f348dd7b7b:3f32df9f0095765e709049f536c711e4:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
