<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1160,306},{119,152}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{119,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,753},{127,152}}</string>
                <key>offset</key>
                <string>{-13,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,24},{127,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,450},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,307},{141,152}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{141,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,307},{141,152}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,24},{141,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,153},{141,152}}</string>
                <key>offset</key>
                <string>{-20,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,24},{141,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,307},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,307},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1577,450},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,448},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1859,464},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,609},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,604},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,604},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,605},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,746},{139,152}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,24},{139,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1897,310},{119,152}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{119,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1909,2},{125,152}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{125,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,460},{145,152}}</string>
                <key>offset</key>
                <string>{5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{145,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{313,710},{157,152}}</string>
                <key>offset</key>
                <string>{10,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{999,306},{159,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,445},{159,152}}</string>
                <key>offset</key>
                <string>{12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,460},{159,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{467,708},{157,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,706},{157,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1281,153},{157,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,599},{159,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1440,153},{157,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,614},{159,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1117,614},{159,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,712},{159,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{159,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,153},{157,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,450},{157,152}}</string>
                <key>offset</key>
                <string>{11,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,24},{157,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1731,602},{119,152}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{119,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,745},{119,152}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{119,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{831,306},{137,166}}</string>
                <key>offset</key>
                <string>{-18,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,10},{137,166}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,530},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,530},{151,176}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{151,176}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,2},{151,176}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1201,2},{149,176}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1379,2},{149,176}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{149,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1557,2},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,354},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,530},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1733,2},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,354},{151,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,178},{151,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{151,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,155},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1021,155},{149,174}}</string>
                <key>offset</key>
                <string>{-24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{149,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1590,758},{119,152}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{119,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1901,156},{133,152}}</string>
                <key>offset</key>
                <string>{-1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,24},{133,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,712},{155,166}}</string>
                <key>offset</key>
                <string>{9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,10},{155,166}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,2},{165,174}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{165,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,176}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{167,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{167,176}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{167,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,2},{167,176}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{167,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{167,176}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{167,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,180},{167,176}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{167,176}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{167,174}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{167,174}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,358},{167,174}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,178},{167,174}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,2},{167,174}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,534},{167,174}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,354},{167,174}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,178},{167,174}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{167,174}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
            <key>Fire-tower-L4-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,750},{119,152}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,24},{119,152}}</string>
                <key>sourceSize</key>
                <string>{199,176}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{2036,887}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ee720374fdf4843c63117e1ee4c53e00:90c9482575b99d188070624e9bea93ed:aea8e837dce9be4396a19dc32cf6304d$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
