<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire-tower-L5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,502},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,670},{138,166}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{138,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,336},{152,164}}</string>
                <key>offset</key>
                <string>{-31,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{152,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,334},{154,164}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,336},{154,164}}</string>
                <key>offset</key>
                <string>{-32,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{154,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,656},{150,164}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,656},{150,164}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,656},{148,164}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{148,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1342,338},{148,166}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1510,338},{148,166}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,502},{148,166}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,670},{148,166}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,500},{148,166}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{148,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,668},{146,166}}</string>
                <key>offset</key>
                <string>{-28,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{146,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,836},{140,166}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{140,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,492},{140,166}}</string>
                <key>offset</key>
                <string>{-25,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{140,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,338},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,660},{136,166}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{136,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,838},{164,166}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{164,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{178,164}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{178,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,164}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{182,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{182,164}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{182,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,170},{176,164}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{176,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{178,164}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{178,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,336},{176,164}}</string>
                <key>offset</key>
                <string>{15,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{176,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,502},{176,166}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{176,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,670},{174,166}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,838},{174,166}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,168},{174,166}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,168},{174,166}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{174,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,168},{172,166}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{172,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,170},{168,166}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{168,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1596,170},{166,166}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{166,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,828},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,820},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1542,820},{122,166}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,0},{122,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,488},{144,164}}</string>
                <key>offset</key>
                <string>{-27,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{144,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,654},{148,164}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{148,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,824},{150,164}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,822},{150,164}}</string>
                <key>offset</key>
                <string>{-30,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{150,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,822},{148,164}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{148,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,822},{148,164}}</string>
                <key>offset</key>
                <string>{-29,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{148,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,336},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,336},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1174,336},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,838},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,488},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,488},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,488},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,488},{150,166}}</string>
                <key>offset</key>
                <string>{-30,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,820},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,506},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,656},{150,166}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{150,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,170},{174,164}}</string>
                <key>offset</key>
                <string>{14,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{174,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{178,164}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{178,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{180,164}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{180,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,2},{178,164}}</string>
                <key>offset</key>
                <string>{17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{178,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,168},{176,164}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{176,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,168},{176,164}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,2},{176,164}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{178,166}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,670},{178,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{178,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{178,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{180,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{180,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{180,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{180,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1450,2},{178,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,2},{178,166}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{178,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
            <key>Fire-tower-L5-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{1690,506},{118,166}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{118,166}}</string>
                <key>sourceSize</key>
                <string>{218,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{1818,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61ae32d973be213550bf316a9973dd9c:ce4609bd6db2c8423b6690d76a58a48e:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
