<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{16,14}}</string>
                <key>offset</key>
                <string>{-48,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{16,14}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,804},{26,16}}</string>
                <key>offset</key>
                <string>{-43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{26,16}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{36,18}}</string>
                <key>offset</key>
                <string>{-38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{36,18}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,826},{46,22}}</string>
                <key>offset</key>
                <string>{-33,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{46,22}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,204},{58,24}}</string>
                <key>offset</key>
                <string>{-27,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{58,24}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,264},{70,26}}</string>
                <key>offset</key>
                <string>{-21,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{70,26}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{82,30}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{82,30}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{92,32}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{92,32}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{102,36}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{102,36}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{112,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{112,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{112,40}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{110,38}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,9},{110,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{110,40}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,9},{110,40}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{98,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,10},{98,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{96,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{96,36}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,336},{88,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{88,34}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{88,38}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,10},{88,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{84,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{84,36}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{82,36}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,11},{82,36}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{84,38}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{84,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,426},{82,38}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{82,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{80,38}}</string>
                <key>offset</key>
                <string>{5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{80,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{80,38}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,10},{80,38}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{80,40}}</string>
                <key>offset</key>
                <string>{9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,8},{80,40}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{78,40}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,9},{78,40}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{76,40}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,7},{76,40}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,510},{74,42}}</string>
                <key>offset</key>
                <string>{13,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,6},{74,42}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,586},{70,42}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,7},{70,42}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,658},{70,44}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,6},{70,44}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,710},{66,42}}</string>
                <key>offset</key>
                <string>{14,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,6},{66,42}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{64,48}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,6},{64,48}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,730},{56,50}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,4},{56,50}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,832},{52,50}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,5},{52,50}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{44,54}}</string>
                <key>offset</key>
                <string>{25,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,3},{44,54}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
            <key>fire_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,782},{42,58}}</string>
                <key>offset</key>
                <string>{28,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,0},{42,58}}</string>
                <key>sourceSize</key>
                <string>{112,58}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fire.png</string>
            <key>size</key>
            <string>{128,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf072b3296b55d36439c174ac45ead55:7847811f90e1ea437d641d0a5815a88a:0bb5bce7cb5efcf05dfe712e64a0ca66$</string>
            <key>textureFileName</key>
            <string>fire.png</string>
        </dict>
    </dict>
</plist>
