<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sniper-tower-L1-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,131},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,114}</string>
                <key>spriteSourceSize</key>
                <string>{106,114}</string>
                <key>textureRect</key>
                <string>{{377,1013},{106,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,114}</string>
                <key>spriteSourceSize</key>
                <string>{104,114}</string>
                <key>textureRect</key>
                <string>{{391,1121},{104,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,261},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,391},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,521},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,651},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,781},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,897},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,1013},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{1,1129},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{117,1},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{117,131},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{117,261},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{117,391},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{117,521},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{117,637},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{131,753},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{131,883},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{131,999},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{131,1115},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{233,1},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{233,131},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{233,261},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{349,1},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{349,131},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{233,377},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0048.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{247,493},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0049.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{247,623},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{131,999},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{247,753},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{261,869},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{261,999},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{261,1129},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{363,247},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{363,377},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{363,507},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{363,637},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sniper-tower-L1-0068.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{377,753},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0069.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{377,883},{128,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sniper-tower-L1-0070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,114}</string>
                <key>spriteSourceSize</key>
                <string>{128,114}</string>
                <key>textureRect</key>
                <string>{{247,753},{128,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{496,1244}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b4df5ac6744584013e018fa231258a:c857a80632292239d79ff17e0d3f1799:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
