<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sniper-tower-L4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,2},{120,132}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{120,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{980,124},{140,132}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,252},{138,134}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,256},{138,136}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{138,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1122,124},{132,136}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{132,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1260,124},{132,136}}</string>
                <key>offset</key>
                <string>{-16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{132,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,254},{134,134}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{134,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{120,134}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{120,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,134}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{118,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{120,132}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{120,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{120,132}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{120,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,124},{140,132}}</string>
                <key>offset</key>
                <string>{19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,6},{140,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,256},{138,134}}</string>
                <key>offset</key>
                <string>{19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,4},{138,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,256},{138,136}}</string>
                <key>offset</key>
                <string>{19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,2},{138,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,122},{130,136}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,2},{130,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1540,124},{132,136}}</string>
                <key>offset</key>
                <string>{16,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,2},{132,136}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1678,124},{132,134}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{132,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{118,134}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,4},{118,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1232,2},{120,134}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,4},{120,134}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,2},{120,132}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,6},{120,132}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{120,138}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,258},{140,138}}</string>
                <key>offset</key>
                <string>{-19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,258},{136,138}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,258},{136,138}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,124},{130,138}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,124},{130,138}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{132,138}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{132,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{118,138}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{118,138}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,2},{120,138}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1502,2},{120,138}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{120,138}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1680,258},{140,138}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,0},{140,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,258},{136,138}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1398,258},{136,138}}</string>
                <key>offset</key>
                <string>{17,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{136,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,122},{128,138}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,0},{128,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,124},{130,138}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{130,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,244},{132,138}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{132,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{118,138}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{118,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{120,138}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,122},{120,138}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
            <key>Sniper-tower-L4-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1782,2},{120,138}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,0},{120,138}}</string>
                <key>sourceSize</key>
                <string>{178,138}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.4.png</string>
            <key>size</key>
            <string>{1922,398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6358d71b613ba52be4c17dc55e356a30:a852ca760e9d5907971f527250e967e6:9df856405f5b64a5ccba3a21a16c5c1d$</string>
            <key>textureFileName</key>
            <string>laser.4.png</string>
        </dict>
    </dict>
</plist>
