<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sniper-tower-L1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,2},{88,110}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,4},{88,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1656,116},{106,110}}</string>
                <key>offset</key>
                <string>{-11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{106,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,114}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{106,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{104,114}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{98,114}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{100,114}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1380,118},{100,112}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{100,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{86,112}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{86,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,116},{86,112}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,2},{86,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{86,110}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{86,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,92},{86,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{86,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1658,2},{104,110}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{104,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,118},{104,114}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{104,114}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,118},{98,114}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{98,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1382,2},{98,112}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{98,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,116},{84,112}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,2},{84,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1570,2},{86,112}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{86,112}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,114},{86,110}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{86,110}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,118},{88,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,118},{104,114}}</string>
                <key>offset</key>
                <string>{-11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,118},{102,114}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{100,114}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,118},{96,114}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,118},{98,114}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,118},{100,114}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{100,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1294,118},{84,114}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{84,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,118},{86,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{88,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,118},{88,114}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,118},{88,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{104,114}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{104,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{102,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,118},{102,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{102,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,118},{96,114}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{930,2},{96,114}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{96,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,2},{98,114}}</string>
                <key>offset</key>
                <string>{10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{98,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,2},{84,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{84,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1208,2},{86,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{86,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{88,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
            <key>Sniper-tower-L1-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,118},{88,114}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,0},{88,114}}</string>
                <key>sourceSize</key>
                <string>{128,114}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.1.png</string>
            <key>size</key>
            <string>{1964,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34060356a1d6c80e632833a0e8d9ebc3:41b96a3f01bfbdf762d6155584075206:243d62cec4945d321fd4dbad00cc7eec$</string>
            <key>textureFileName</key>
            <string>laser.1.png</string>
        </dict>
    </dict>
</plist>
