<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Sniper-tower-L5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,2},{122,135}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{122,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{140,135}}</string>
                <key>offset</key>
                <string>{-19,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{140,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,260},{138,137}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1140,260},{138,137}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{138,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,265},{132,137}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{132,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,265},{132,137}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{132,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1280,260},{134,137}}</string>
                <key>offset</key>
                <string>{-17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,4},{134,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,140},{118,137}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{118,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1825,278},{118,135}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,6},{118,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,138},{120,135}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{120,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1688,266},{124,135}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,6},{124,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,2},{142,135}}</string>
                <key>offset</key>
                <string>{18,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{142,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,2},{142,137}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{142,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{142,137}}</string>
                <key>offset</key>
                <string>{17,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{142,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{1416,260},{134,137}}</string>
                <key>offset</key>
                <string>{14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,4},{134,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{1552,260},{134,137}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,4},{134,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,261},{134,137}}</string>
                <key>offset</key>
                <string>{15,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,4},{134,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1864,139},{122,137}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,4},{122,137}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{714,262},{122,135}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,6},{122,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,262},{122,135}}</string>
                <key>offset</key>
                <string>{8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,6},{122,135}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,139},{120,139}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{120,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,144},{140,139}}</string>
                <key>offset</key>
                <string>{-19,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{140,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{136,141}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{136,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{136,141}}</string>
                <key>offset</key>
                <string>{-18,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{136,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,2},{130,141}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1721,134},{130,141}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,0},{130,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{132,141}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,0},{132,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,136},{118,139}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{118,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,140},{120,139}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{120,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{859,140},{120,139}}</string>
                <key>offset</key>
                <string>{-10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,2},{120,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,139},{120,139}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,2},{120,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,136},{122,139}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{122,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,139}}</string>
                <key>offset</key>
                <string>{18,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,2},{142,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,143},{140,141}}</string>
                <key>offset</key>
                <string>{16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{140,141}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{140,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,2},{132,141}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{132,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1578,2},{132,141}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{132,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1149,2},{134,141}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,0},{134,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,141},{122,141}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,0},{122,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,141},{122,141}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,0},{122,141}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,136},{122,139}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{122,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
            <key>Sniper-tower-L5-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1433,136},{122,139}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,2},{122,139}}</string>
                <key>sourceSize</key>
                <string>{178,141}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>laser.5.png</string>
            <key>size</key>
            <string>{1989,399}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bec9a2173ef4f6d1182dbba0b47de992:d4ae06aa78e7e7e91bd057cf28c88941:9034cf22b6cef5beb61a871854d8a3ef$</string>
            <key>textureFileName</key>
            <string>laser.5.png</string>
        </dict>
    </dict>
</plist>
