<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer-tower-L1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,116},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,230},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
            <key>Archer-tower-L1-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,344},{102,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,112}}</string>
                <key>sourceSize</key>
                <string>{102,112}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1562,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872af4287323a2fc58ac8b30ffe02567:287247021ca651713ab14eb47a78049a:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
