<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer-tower-L4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,270},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,415},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{887,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,415},{117,143}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{117,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,310},{127,143}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{127,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,312},{131,143}}</string>
                <key>offset</key>
                <string>{-15,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{131,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,125},{127,143}}</string>
                <key>offset</key>
                <string>{-14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,18},{127,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1019,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,270},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1121,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1164,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1238,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1309,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,409},{115,143}}</string>
                <key>offset</key>
                <string>{-7,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,270},{123,143}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,18},{123,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{133,145}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{133,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,165},{143,145}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,16},{143,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,326},{145,145}}</string>
                <key>offset</key>
                <string>{8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{145,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{141,145}}</string>
                <key>offset</key>
                <string>{6,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{141,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,2},{115,145}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,16},{115,145}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1589,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{115,151}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{115,151}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,455},{115,153}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{115,153}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,149},{117,159}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,2},{117,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,149},{119,161}}</string>
                <key>offset</key>
                <string>{-10,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,0},{119,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,457},{115,159}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,2},{115,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{1744,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{1655,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{1724,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{1823,119},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,2},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{1772,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,119},{115,149}}</string>
                <key>offset</key>
                <string>{-7,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,12},{115,149}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,2},{121,153}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{121,153}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,165},{135,159}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{135,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{137,161}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{137,161}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{133,159}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{133,159}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{1841,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{1889,409},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
            <key>Archer-tower-L4-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,264},{115,143}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,18},{115,143}}</string>
                <key>sourceSize</key>
                <string>{161,161}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{2034,574}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7fdaf260e698fdb23daf87a6cb5f36f4:4a2206a3ecf51b8f9cbce8ecb09135ef:aea8e837dce9be4396a19dc32cf6304d$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
