<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer-tower-L5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1183,503},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1233,336},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,169},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1184,837},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1296,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1300,503},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1350,336},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,905},{117,165}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,28},{117,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{135,165}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{135,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,169},{139,165}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,28},{139,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,503},{135,165}}</string>
                <key>offset</key>
                <string>{-19,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,28},{135,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,2},{131,165}}</string>
                <key>offset</key>
                <string>{-17,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,28},{131,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,670},{123,165}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{123,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1352,169},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,837},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,503},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{1114,336},{117,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{117,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{1116,169},{117,165}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{117,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,2},{119,165}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{119,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,336},{119,165}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{119,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,503},{119,165}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{119,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{1061,837},{121,165}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{121,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,169},{121,165}}</string>
                <key>offset</key>
                <string>{-6,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{121,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,670},{131,165}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{131,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,372},{135,167}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{135,167}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,169},{155,165}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{155,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{157,165}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{157,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{155,165}}</string>
                <key>offset</key>
                <string>{10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{155,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,336},{151,165}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{151,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,879},{141,165}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{141,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1156,2},{117,165}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{117,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1467,336},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1469,169},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,169},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1626,2},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1586,286},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,403},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1418,837},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,710},{115,167}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{115,167}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,185},{115,167}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{115,167}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,553},{115,169}}</string>
                <key>offset</key>
                <string>{-9,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{115,169}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,553},{119,179}}</string>
                <key>offset</key>
                <string>{-11,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,14},{119,179}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{165,780},{131,185}}</string>
                <key>offset</key>
                <string>{-17,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{131,185}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,392},{143,191}}</string>
                <key>offset</key>
                <string>{-23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{143,191}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{147,193}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,193}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{141,193}}</string>
                <key>offset</key>
                <string>{-22,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{141,193}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,197},{131,191}}</string>
                <key>offset</key>
                <string>{-17,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,2},{131,191}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{127,181}}</string>
                <key>offset</key>
                <string>{-15,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,12},{127,181}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,670},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{1535,837},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{1534,520},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{1509,2},{115,165}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{115,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,336},{133,165}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{133,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,503},{131,165}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{131,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,336},{131,165}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{131,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,893},{129,165}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,28},{129,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{933,503},{127,165}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{127,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,837},{127,165}}</string>
                <key>offset</key>
                <string>{-4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{127,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,724},{127,167}}</string>
                <key>offset</key>
                <string>{-4,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{127,167}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,541},{127,167}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{127,167}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,734},{127,169}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{127,169}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,372},{137,179}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,14},{137,179}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{169,2},{149,185}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,8},{149,185}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{161,191}}</string>
                <key>offset</key>
                <string>{13,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{161,191}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{165,193}}</string>
                <key>offset</key>
                <string>{15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{165,193}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{159,193}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,0},{159,193}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{145,587},{149,191}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{149,191}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,189},{145,181}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,12},{145,181}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,670},{129,165}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{129,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,837},{131,165}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{131,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0108.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,169},{133,165}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,28},{133,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
            <key>Archer-tower-L5-0109.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,336},{133,165}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,28},{133,165}}</string>
                <key>sourceSize</key>
                <string>{195,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{1753,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30e8b42443dbcd9bb48a6bb4169b92f9:3f3b2c3f3633352b67f4ee6fddd47a3b:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
