<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L1-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,692},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,140},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{120,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{120,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{120,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{120,136}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,278},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,416},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,554},{118,136}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{118,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.4.png</string>
            <key>size</key>
            <string>{244,812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bb13b75579b2270671d1489bdd1672c3:dcacb049d34ae2ce467ac9770424a83c:ce604c3c3fce9b8bf03eadf736af5f35$</string>
            <key>textureFileName</key>
            <string>1.4.png</string>
        </dict>
    </dict>
</plist>
