<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,151},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,300},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,2},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,151},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,151},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,300},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.1.png</string>
            <key>size</key>
            <string>{522,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:253a04440d20e8f0f57c2a1acf1789cb:1ce16a33f29bfdeb387deb16cd155709:6a9b902b6a01a9fa7ced15df00f064fd$</string>
            <key>textureFileName</key>
            <string>2.1.png</string>
        </dict>
    </dict>
</plist>
