<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,240},{125,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,359},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,367},{127,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{125,135}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,121},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1098,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1235,240},{117,135}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,135}}</string>
                <key>sourceSize</key>
                <string>{127,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{1509,496}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:53ecb25000a89bdac6d812b032330b67:07164ad544e6fd5d607ee440166afec1:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
