<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L5-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,150},{131,152}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{131,152}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,2},{137,146}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,6},{137,146}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{141,144}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{141,144}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{149,150}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{149,150}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{151,150}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,2},{151,150}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{151,148}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{151,148}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{153,155},{151,148}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{151,148}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,305},{151,148}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,4},{151,148}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,305},{147,152}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,0},{147,152}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{139,144}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,8},{139,144}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{135,148}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{135,148}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.3.png</string>
            <key>size</key>
            <string>{577,458}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:234601c4bbdb52c49ba3cbfeb3041b3d:3f4685b8e3b6b0e7dab606aeab12fca1:0bfae37312b854016120e9bc70bf0e2f$</string>
            <key>textureFileName</key>
            <string>5.3.png</string>
        </dict>
    </dict>
</plist>
