<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja-kitty-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{52,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{52,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.down.png</string>
            <key>size</key>
            <string>{56,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe1a30f85f60f7d0d2dc26bd2686a57c:bbfac56bcf6245b7e709b6daea514a33:e7ffd004f1004682b87bd722aaa77fdf$</string>
            <key>textureFileName</key>
            <string>desant.down.png</string>
        </dict>
    </dict>
</plist>
