<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja-kitty-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,42}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{34,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{34,38}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,38}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{34,38}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,38}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,38},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,38},{34,42}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{34,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,38},{34,42}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,26},{34,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,74},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,38},{34,38}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,38}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,74},{34,38}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,38}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,74},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,74},{34,40}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,28},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.left.png</string>
            <key>size</key>
            <string>{214,110}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2aa1921c2c15f4c62cf12ef045d8d5a7:b162dbfa8b18fe6ed7aa5220bc7a9d17:1b9b3b5fbc11e6483a67a540c319fa1e$</string>
            <key>textureFileName</key>
            <string>desant.left.png</string>
        </dict>
    </dict>
</plist>
