<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja-kitty-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{36,40}}</string>
                <key>offset</key>
                <string>{3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{40,40}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{40,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{42,40}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{42,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,2},{44,40}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,30},{44,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{46,40}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,30},{46,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{688,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,2},{34,40}}</string>
                <key>offset</key>
                <string>{4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,30},{34,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.fire.png</string>
            <key>size</key>
            <string>{771,44}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:376b760b770c0c7ea002aa5483d091ce:039fcf167253cdab4cea72badee44d07:7df1c490f330448bece0464e2fba69d3$</string>
            <key>textureFileName</key>
            <string>desant.fire.png</string>
        </dict>
    </dict>
</plist>
