<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>desant_2_tupit2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,117},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,78},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,40},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,40},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,40},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,40},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,196},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,157},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,118},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,79},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,40},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{231,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,197},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,158},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,119},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,80},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,41},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,197},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,158},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,119},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,80},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,41},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{155,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,197},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,158},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,119},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,80},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,41},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,197},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,158},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,119},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,80},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,41},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,203},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,164},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,125},{37,36}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,8},{37,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{37,38}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,6},{37,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,84},{39,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{39,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,43},{39,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{39,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{41,2},{39,36}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{39,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,191},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,119},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,155},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,196},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,78},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,119},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,155},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{343,78},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,119},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,78},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,197},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{305,156},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,197},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>desant_2_tupit2_0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,156},{39,34}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{39,34}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.nothing2.png</string>
            <key>size</key>
            <string>{449,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e9272f2de2c9788e67106d734c05d6:1c152fee80567383b80a433829143087:4ee578a870261a10b0dadd13f2dadc99$</string>
            <key>textureFileName</key>
            <string>desant.nothing2.png</string>
        </dict>
    </dict>
</plist>
