<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fireball-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,256},{80,70}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,46},{80,70}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,142},{112,100}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,21},{112,100}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{138,114}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,11},{138,114}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{146,124}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{146,124}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{152,128}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{152,128}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,314},{148,128}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{148,128}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,612},{144,124}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{144,124}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,464},{134,126}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,6},{134,126}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
            <key>Fireball-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,600},{134,88}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,7},{134,88}}</string>
                <key>sourceSize</key>
                <string>{156,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fb.xp.png</string>
            <key>size</key>
            <string>{256,738}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1199cfe0bd9c8cb27c1fb9a5b86cd2a:fd55ad5f222a56a30d9a8c10124d522b:7d2b1b4e5414a18f167128acc8facc07$</string>
            <key>textureFileName</key>
            <string>fb.xp.png</string>
        </dict>
    </dict>
</plist>
