<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_bomb_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{25,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,2},{25,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{21,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{21,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,75},{25,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{25,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,29},{21,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,2},{21,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,52},{21,71}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{21,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{29,2},{25,71}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{25,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,52},{21,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{21,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{25,71}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,2},{25,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,52},{21,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{21,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,52},{21,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{21,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>ice_bomb_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{83,2},{25,71}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,2},{25,71}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bombice.png</string>
            <key>size</key>
            <string>{175,125}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42b35cfe68cae03c38028b844aed9f1c:47417bb158a5ad08b0bc2db8842f1c6d:8cf8692a2af744acf1fc7507aa50b6b4$</string>
            <key>textureFileName</key>
            <string>bombice.png</string>
        </dict>
    </dict>
</plist>
