<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ice-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,126}}</string>
                <key>sourceSize</key>
                <string>{73,126}</string>
            </dict>
            <key>Ice-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{73,110}}</string>
                <key>offset</key>
                <string>{0,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{73,110}}</string>
                <key>sourceSize</key>
                <string>{73,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Ice.png</string>
            <key>size</key>
            <string>{77,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f74b45bd76c011db5d1b7a7ebd1c088:a1ac2d74e44d94e49c12e64951777d8c:c726205c27e4788c93bdec8200cffa4f$</string>
            <key>textureFileName</key>
            <string>Ice.png</string>
        </dict>
    </dict>
</plist>
