<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ice_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,120}</string>
                <key>spriteSourceSize</key>
                <string>{77,120}</string>
                <key>textureRect</key>
                <string>{{1,1},{75,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ice_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,112}</string>
                <key>spriteSourceSize</key>
                <string>{77,112}</string>
                <key>textureRect</key>
                <string>{{1,123},{75,112}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ice.png</string>
            <key>size</key>
            <string>{77,236}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42d5e960f520f926a41f940b6ce495c5:57ebf641ed4e98c586e5598c2f146a20:cff808ca0f70b591245cfda0ce34c370$</string>
            <key>textureFileName</key>
            <string>ice.png</string>
        </dict>
    </dict>
</plist>
