<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ball-of-yarn-tower-L5-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{104,154}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{104,154}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{104,148}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{104,148}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{104,186}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{104,186}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,180}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{108,180}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{106,158}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{106,158}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1000},{104,152}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{104,152}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{104,148}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,38},{104,148}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{104,152}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,34},{104,152}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{104,154}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{104,154}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,844},{104,154}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{104,154}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
            <key>Ball-of-yarn-tower-L5-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{104,154}}</string>
                <key>offset</key>
                <string>{-2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,32},{104,154}}</string>
                <key>sourceSize</key>
                <string>{108,186}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.png</string>
            <key>size</key>
            <string>{112,1608}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ab2d2f9bfec33baf77ebd879d060edc:d9c47a5bd38b79cffd06b543b39e04f8:c6dbde1693599f6671c0dc889ed7f1c3$</string>
            <key>textureFileName</key>
            <string>5.png</string>
        </dict>
    </dict>
</plist>
