<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{102,115}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,115}}</string>
                <key>sourceSize</key>
                <string>{116,115}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.1.png</string>
            <key>size</key>
            <string>{1146,119}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccbdd0deebc704d87460712bcee30d13:436297cc31991dbfe1826a394a81de8a:042e3a7151d8172f01bbfd3b2fad0fd3$</string>
            <key>textureFileName</key>
            <string>1.1.png</string>
        </dict>
    </dict>
</plist>
