<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L1-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{116,126}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,230},{124,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,2},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,230},{116,126}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,230},{126,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,230},{124,126}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{642,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{1282,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1538,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,116},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
            <key>Magic-wizard-tower-L1-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,130},{112,126}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,126}}</string>
                <key>sourceSize</key>
                <string>{126,126}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1908,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3cbb8fc3d0f0a00df18063ade6d6bd8c:ad0084d9848524a6a7d9f21b3ec849c3:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
