<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{136,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L2-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.2.png</string>
            <key>size</key>
            <string>{885,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:096f0a34ecd332813b22ab3f6f854979:a6422d900133d8075186ea1b272cb756:04b771ca6431fed5d09c93496cc78ab7$</string>
            <key>textureFileName</key>
            <string>2.2.png</string>
        </dict>
    </dict>
</plist>
