<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L3-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,2},{138,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{136,147}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
            <key>Magic-wizard-tower-L3-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,142},{128,147}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>sourceSize</key>
                <string>{138,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.3.png</string>
            <key>size</key>
            <string>{885,272}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e8ff08cd6fd8668aa9b8d87c55ffbd6:f5003c7c3a8d5e01d397048697b1fb12:a8d85c3eb3db86b466df9aedaa78086a$</string>
            <key>textureFileName</key>
            <string>3.3.png</string>
        </dict>
    </dict>
</plist>
