<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,123},{123,129}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{123,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,123},{123,129}}</string>
                <key>offset</key>
                <string>{-7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{123,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1187,123},{125,129}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1318,123},{125,129}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,123},{125,129}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{125,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,123},{121,129}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{121,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,123},{123,129}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,6},{123,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,246},{135,129}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{135,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,248},{135,129}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{135,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,248},{135,129}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,248},{135,129}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,248},{135,129}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,6},{135,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{957,248},{133,129}}</string>
                <key>offset</key>
                <string>{1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,6},{133,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{1181,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1312,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,123},{123,129}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{123,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1777,250},{135,135}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{135,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,250},{135,133}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{135,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1366,250},{135,133}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{135,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,250},{135,133}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{135,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1092,250},{135,131}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,4},{135,131}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{1640,250},{133,135}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{133,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{1574,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1705,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,2},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,123},{125,135}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{125,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,123},{125,133}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{125,133}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,244},{125,133}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{125,133}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{1852,123},{125,131}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{125,131}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,123},{123,135}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{123,135}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,123},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
            <key>Magic-wizard-tower-L4-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,123},{119,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,6},{119,129}}</string>
                <key>sourceSize</key>
                <string>{141,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{1985,387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8be43af930ecfef11b955eb717d402eb:44cb9e9b6e8e1a41c603e81e2ed5126c:aea8e837dce9be4396a19dc32cf6304d$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
