<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Magic-wizard-tower-L5-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,2},{131,146}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{131,146}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,150},{137,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{137,140}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,731},{141,140}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,12},{141,140}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{149,142}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{149,142}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{149,142}}</string>
                <key>offset</key>
                <string>{5,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{149,142}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{151,140}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{151,140}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,578},{151,140}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{151,140}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,603},{151,140}}</string>
                <key>offset</key>
                <string>{5,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,12},{151,140}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{147,144}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{147,144}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,292},{137,140}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,12},{137,140}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
            <key>Magic-wizard-tower-L5-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,434},{135,142}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{135,142}}</string>
                <key>sourceSize</key>
                <string>{161,152}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>5.2.png</string>
            <key>size</key>
            <string>{286,874}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd8b48491c7201f26df24e7f6c7d5d65:d1fa786528333c18139f4851f52ef933:1596eeeeea76e97ae0f16d61079b459d$</string>
            <key>textureFileName</key>
            <string>5.2.png</string>
        </dict>
    </dict>
</plist>
