<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>button_airstike_animation1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation1_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_airstike_animation2_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,96},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_hero3_bot_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_hero3_bot_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,190},{105,92}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,92}</string>
            </dict>
            <key>button_landmine_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_landmine_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,284},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{858,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1179,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1286,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1393,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{1500,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
            <key>button_swat_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,378},{105,92}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,92}}</string>
                <key>sourceSize</key>
                <string>{105,94}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>buttoln_skills.png</string>
            <key>size</key>
            <string>{1821,472}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d4eed2e29a8fdb6b9b35f6e9697e94cc:64337b2db6e316c844274cca031b553d:ef0ca0c93d6f56c7828a26afce1a6e3c$</string>
            <key>textureFileName</key>
            <string>buttoln_skills.png</string>
        </dict>
    </dict>
</plist>
