<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ninja-kitty-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{52,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{52,42}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,26},{52,42}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
            <key>Ninja-kitty-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,596},{52,40}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,28},{52,40}}</string>
                <key>sourceSize</key>
                <string>{58,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>desant.up.png</string>
            <key>size</key>
            <string>{56,638}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a17dea26baea49f311ffa45d24615a4:80a2037a3c0859958f8314908a2f919d:8e1d16a157c0bd9f82bb6d916e8ba0b8$</string>
            <key>textureFileName</key>
            <string>desant.up.png</string>
        </dict>
    </dict>
</plist>
