<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer-tower-L2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,2},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{891,109},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,216},{105,125}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{105,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,757},{109,123}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{109,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{107,123}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{107,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,430},{107,123}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{107,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,216},{105,123}}</string>
                <key>offset</key>
                <string>{-9,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,216},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,216},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{631,216},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,216},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,430},{107,123}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,12},{107,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,216},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{127,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,323},{105,123}}</string>
                <key>offset</key>
                <string>{-10,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{105,123}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,430},{107,129}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{107,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,430},{107,129}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{107,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,430},{107,127}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,430},{107,127}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,430},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,539},{107,129}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{107,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,539},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{129,648},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,648},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,648},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,648},{107,125}}</string>
                <key>offset</key>
                <string>{-8,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,10},{107,125}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,866},{117,131}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{117,131}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,868},{117,131}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{117,131}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,870},{117,131}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,4},{117,131}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,870},{117,129}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{117,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,872},{117,129}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{117,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,872},{117,129}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{117,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{115,129}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{115,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,757},{113,129}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{113,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,757},{113,131}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{113,131}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,757},{111,129}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,6},{111,129}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,757},{111,127}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,8},{111,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{925,872},{119,127}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{119,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,648},{107,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,648},{107,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{895,648},{107,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0105.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,757},{107,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0106.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,757},{107,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
            <key>Archer-tower-L2-0107.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,757},{107,127}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{107,127}}</string>
                <key>sourceSize</key>
                <string>{125,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{1046,1001}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1c51590be413bf37ecb8d9dc7a570208:a882f40e734cc5b353641e804e4f7d06:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
