<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Archer-tower-L3-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,401},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,268},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,268},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,665},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,532},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,399},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,399},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,663},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,530},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,530},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,794},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,661},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,135},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,661},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1058},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,925},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,792},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,792},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1189},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,135},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,401},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,268},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,135},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1056},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,923},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,923},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1187},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1054},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1054},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1451},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1318},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1185},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1185},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1582},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1449},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,135},{112,131}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{112,131}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1316},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1316},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1713},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1580},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1447},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1447},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1711},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1578},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1578},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1842},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0101.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1709},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0102.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1709},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0103.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1840},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
            <key>Archer-tower-L3-0104.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1840},{112,129}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{112,129}}</string>
                <key>sourceSize</key>
                <string>{112,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3.png</string>
            <key>size</key>
            <string>{458,1975}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:481330dbcdab3cdfe9a477f1f893e00d:61c14ab5411d4062884e023e87c8e4f5:f4b3fb2dcccdcb0ee302cc6e10a27ade$</string>
            <key>textureFileName</key>
            <string>3.png</string>
        </dict>
    </dict>
</plist>
