<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Mouse-landmine-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{33,24}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{33,24}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{33,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{111,2},{33,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,2},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{33,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{33,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{33,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,2},{35,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{253,2},{35,24}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{35,24}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>Mouse-landmine-idle-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{33,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,2},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,2},{33,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{33,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{473,2},{35,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
            <key>Mouse-landmine-idle-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,2},{33,23}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,23}}</string>
                <key>sourceSize</key>
                <string>{35,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1_mousemine.png</string>
            <key>size</key>
            <string>{615,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4ccb2447bc3a47b52212939094f01ebb:4a3b8eb415647237e7726ddb1e4074bf:f62c5fb87669fddb158f0946ed7a9a1d$</string>
            <key>textureFileName</key>
            <string>hero1_mousemine.png</string>
        </dict>
    </dict>
</plist>
