<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero3_desant_3_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,291},{43,40}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,150},{43,42}}</string>
                <key>offset</key>
                <string>{-5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,198},{43,44}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{43,44}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,102},{43,42}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,334},{49,36}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,7},{49,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{149,475},{51,26}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,17},{51,26}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,479},{51,22}}</string>
                <key>offset</key>
                <string>{16,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,24},{51,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,336},{51,22}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,22},{51,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,244},{51,22}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,21},{51,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,335},{49,22}}</string>
                <key>offset</key>
                <string>{22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,22},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,146},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,170},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,194},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,218},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,242},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,194},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,218},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,174},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_die_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,229},{49,22}}</string>
                <key>offset</key>
                <string>{23,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,24},{49,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{71,50}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,0},{71,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{63,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{57,50}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,0},{57,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,54},{51,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,50},{51,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,50},{49,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,50},{49,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,50},{49,50}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,102},{45,46}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,150},{45,46}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,102},{45,46}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,1},{45,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_enter_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,389},{39,40}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{39,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{63,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,106},{63,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,171},{63,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,236},{63,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,301},{63,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,366},{63,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{63,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,2},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,173},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{65,46}}</string>
                <key>offset</key>
                <string>{-15,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,307},{65,46}}</string>
                <key>offset</key>
                <string>{-14,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{65,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{57,40}}</string>
                <key>offset</key>
                <string>{-11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{57,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,165},{57,40}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,4},{57,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,431},{59,40}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{59,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,224},{53,40}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{53,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,279},{53,40}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,4},{53,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,430},{43,40}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,50},{41,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{41,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,430},{43,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,242},{43,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,187},{43,40}}</string>
                <key>offset</key>
                <string>{-5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,385},{45,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{45,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,102},{45,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{45,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,253},{43,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,244},{45,40}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{45,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,284},{43,40}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,336},{45,40}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,4},{45,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{275,295},{43,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,432},{45,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,4},{45,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,383},{45,38}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{45,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,326},{43,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{43,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_go_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,50},{41,40}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{41,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,92},{41,40}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{41,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,134},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,144},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,337},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,253},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,296},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,339},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,368},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,377},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,297},{41,36}}</string>
                <key>offset</key>
                <string>{-4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,8},{41,36}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,377},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,379},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,408},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,448},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,417},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,419},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,457},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,459},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,134},{41,38}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,6},{41,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_3_stay_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,92},{41,40}}</string>
                <key>offset</key>
                <string>{-4,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,4},{41,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3_desant3.png</string>
            <key>size</key>
            <string>{369,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6bf7d487e65f29786efbc7cbc79abbe2:de3eccb8ac1bf80e9bdb250cc905528e:70a60f367886575900ff8d7d914ac932$</string>
            <key>textureFileName</key>
            <string>hero3_desant3.png</string>
        </dict>
    </dict>
</plist>
