<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panda-idle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,2},{64,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{64,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,184},{62,60}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{62,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,120},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,120},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,184},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,120},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,184},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,66},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{990,64},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,120},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,66},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,64},{62,60}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{62,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{64,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{64,60}}</string>
                <key>sourceSize</key>
                <string>{84,84}</string>
            </dict>
            <key>Panda-walk-back00.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,130},{60,60}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{60,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,128},{60,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,64},{58,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{58,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back03.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,184},{58,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{58,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back04.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,128},{58,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,13},{58,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back05.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,130},{60,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back06.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,192},{60,60}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{60,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back07.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,192},{60,60}}</string>
                <key>offset</key>
                <string>{4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{60,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back08.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,192},{60,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back09.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,128},{58,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{58,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,126},{56,62}}</string>
                <key>offset</key>
                <string>{2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,13},{56,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back11.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,128},{58,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,13},{58,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-back12.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,130},{60,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front00.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,2},{64,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{64,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front01.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,66},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front02.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,66},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front03.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,192},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front04.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,130},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front05.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,64},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{64,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,15},{64,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front07.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,66},{62,60}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,15},{62,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front08.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,64},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front09.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,192},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front10.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,130},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front11.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,192},{60,62}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{60,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-front12.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,64},{62,62}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,13},{62,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,192},{62,60}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,15},{62,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{66,62}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{66,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{66,62}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,13},{66,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{68,62}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{68,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{70,62}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{70,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{70,62}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,13},{70,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{70,60}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{70,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side07.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{70,60}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,15},{70,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{70,62}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{70,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side09.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{70,62}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,13},{70,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side10.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,2},{68,62}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{68,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walk-side11.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{68,62}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,13},{68,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,184},{64,60}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,15},{64,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,66},{52,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,9},{52,66}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,66},{52,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,5},{52,70}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,66},{52,72}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,3},{52,72}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,70}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,5},{64,70}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{72,62}}</string>
                <key>offset</key>
                <string>{-10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,13},{72,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>Panda-walkp-side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{68,60}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,15},{68,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,66},{52,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,10},{52,64}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,66},{52,66}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,8},{52,66}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,184},{52,66}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,8},{52,66}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,128},{52,62}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,12},{52,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,192},{52,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,13},{52,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,128},{52,62}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,13},{52,62}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{892,192},{52,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{52,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,192},{52,60}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{52,60}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{1,1}}</string>
                <key>offset</key>
                <string>{-48.5,41.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
            <key>panda-die-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1064,192},{50,48}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{50,48}}</string>
                <key>sourceSize</key>
                <string>{98,84}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3.png</string>
            <key>size</key>
            <string>{1124,254}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41099fd9022dead6b3cf57a320e4ed2c:a69c44f57ea78fc001137c17f89d5a56:113b45017899a819ccadc7ae5b896101$</string>
            <key>textureFileName</key>
            <string>hero3.png</string>
        </dict>
    </dict>
</plist>
