<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero3_shield_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{83,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,170},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{83,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,172},{81,82}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,0},{81,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,86},{83,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{83,80}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,80}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
            <key>hero3_shield_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,87},{83,82}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,82}}</string>
                <key>sourceSize</key>
                <string>{85,82}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3_skills.png</string>
            <key>size</key>
            <string>{256,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25627ee3ef55458e0e5856d1683808fa:6d6449649fcc304c169ff5c206ad5dac:471d2c247393995b9fa941577873d254$</string>
            <key>textureFileName</key>
            <string>hero3_skills.png</string>
        </dict>
    </dict>
</plist>
