<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GhostCat-Attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,160},{38,58}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{38,58}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{42,58}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{42,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,58}}</string>
                <key>offset</key>
                <string>{12,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{44,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{42,58}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{42,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,120},{42,58}}</string>
                <key>offset</key>
                <string>{10,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,4},{42,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,62},{38,58}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,4},{38,58}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{44,50}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,12},{44,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{46,50}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{46,50}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,98},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,208},{36,52}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,10},{36,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{38,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{38,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,2},{38,54}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,8},{38,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{44,56}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,6},{44,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{38,56}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,6},{38,56}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,146},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,146},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,154},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,146},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,154},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,154},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Backwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,84},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,42},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,102},{44,50}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{44,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,150},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,150},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,202},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,102},{44,50}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{44,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,102},{44,50}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{44,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death10.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,94},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death11.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,42},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death13.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,42},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,102},{44,50}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,12},{44,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death15.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,146},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death16.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,136},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death17.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,136},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death18.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,198},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death19.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,188},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death20.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,94},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death21.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,94},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death22.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,168},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death23.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,42},{42,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,12},{42,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death24.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,190},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Death25.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,190},{38,52}}</string>
                <key>offset</key>
                <string>{9,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{38,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,94},{40,52}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,42},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,204},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,42},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,204},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,204},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,42},{40,52}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{40,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,204},{44,48}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,14},{44,48}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Frontwalk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,54},{42,52}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{42,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,54},{42,52}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{42,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,180},{48,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{48,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,54},{42,52}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{42,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,180},{48,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{48,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,180},{48,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{48,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,54},{42,52}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{42,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk13.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk14.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,180},{48,50}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,12},{48,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat-Sidewalk15.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,54},{46,50}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,12},{46,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{44,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,58},{44,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,114},{44,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,170},{44,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{44,54}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,58},{44,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,114},{44,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,106},{44,52}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{44,52}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,170},{44,54}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{44,54}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>GhostCat_Entrance_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,126},{40,50}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,12},{40,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2_ghostkitty.png</string>
            <key>size</key>
            <string>{512,251}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ddf64913df470ff42031987d7b6eca88:f17859dd019d4f1872e0572d81f48c30:4667c2cb978b9832374def98761ab3da$</string>
            <key>textureFileName</key>
            <string>hero2_ghostkitty.png</string>
        </dict>
    </dict>
</plist>
