<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero1_aura0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,42},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,42},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{74,40}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{74,40}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,82},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,82},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,122},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,122},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,122},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,162},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,162},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,202},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,242},{74,40}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,52},{74,40}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_aura0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,202},{74,38}}</string>
                <key>offset</key>
                <string>{-3,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,53},{74,38}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>hero1_headstone_.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,242},{40,40}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,30},{40,40}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero_other.png</string>
            <key>size</key>
            <string>{230,284}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5c5c496a4cb09903285361018f3f74b:dd6e45792c34134a55d926dbe8537a3f:b37ae62bd37a23938231c48f5b0d45c8$</string>
            <key>textureFileName</key>
            <string>hero_other.png</string>
        </dict>
    </dict>
</plist>
