<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WindPanda-Attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{46,44}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{46,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{46,44}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{46,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{46,44}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,10},{46,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,94},{40,44}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,10},{40,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{38,44}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,48},{48,44}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,10},{48,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{56,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,10},{56,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,44}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,10},{66,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{64,44}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,10},{64,44}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,48},{64,46}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,8},{64,46}}</string>
                <key>sourceSize</key>
                <string>{132,60}</string>
            </dict>
            <key>WindPanda-Backwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,700},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{38,46}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,8},{38,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,838},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Backwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,976},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1022},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,142},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,234},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,280},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,326},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,372},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,418},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,464},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,510},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,556},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Frontwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,602},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,188},{40,44}}</string>
                <key>offset</key>
                <string>{9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,10},{40,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,648},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,694},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,740},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,786},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{38,46}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{38,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,832},{38,44}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,878},{38,44}}</string>
                <key>offset</key>
                <string>{10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,11},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{38,46}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,9},{38,46}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,924},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,970},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,1016},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-Sidewalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,310},{38,44}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,350},{38,44}}</string>
                <key>offset</key>
                <string>{-11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,188},{42,42}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{42,42}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,270},{44,38}}</string>
                <key>offset</key>
                <string>{-8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{44,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,232},{42,36}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,19},{42,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,140},{44,36}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,950},{44,36}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,988},{44,36}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1026},{44,36}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{44,36}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,390},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,430},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,470},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,510},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,550},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,590},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,630},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,670},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,710},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,750},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,790},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,830},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,870},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>WindPanda-idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,910},{38,44}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,10},{38,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkspirit_wind.png</string>
            <key>size</key>
            <string>{128,1069}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fc3362ae4a1924590f14cfc1dc7a4288:ccca0695b67af50235d1377e1ffe5a8c:0f17d164fca3d71ca80cda6567a80077$</string>
            <key>textureFileName</key>
            <string>monkspirit_wind.png</string>
        </dict>
    </dict>
</plist>
