<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_icon_gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{1,890},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,64}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{331,602},{100,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>box_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{400,85}</string>
                <key>spriteSourceSize</key>
                <string>{400,85}</string>
                <key>textureRect</key>
                <string>{{1,515},{400,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,94}</string>
                <key>textureRect</key>
                <string>{{515,385},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,94}</string>
                <key>spriteSourceSize</key>
                <string>{105,94}</string>
                <key>textureRect</key>
                <string>{{625,289},{105,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_desant_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{515,1},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_desant_1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{1,602},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_desant_1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{515,97},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_desant_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{625,1},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_desant_2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{1,698},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_desant_2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{111,602},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_dyn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,82}</string>
                <key>spriteSourceSize</key>
                <string>{82,82}</string>
                <key>textureRect</key>
                <string>{{324,797},{82,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_hero3_bot_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{515,193},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_hero3_bot_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{625,97},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_hero3_bot_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{1,794},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_itemshop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,72}</string>
                <key>spriteSourceSize</key>
                <string>{80,72}</string>
                <key>textureRect</key>
                <string>{{408,856},{80,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_landmine_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{111,698},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_landmine_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{221,602},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_landmine_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{515,289},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{539,709},{50,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_shop2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,67}</string>
                <key>spriteSourceSize</key>
                <string>{67,67}</string>
                <key>textureRect</key>
                <string>{{573,863},{67,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_shop3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,45}</string>
                <key>spriteSourceSize</key>
                <string>{50,45}</string>
                <key>textureRect</key>
                <string>{{677,473},{50,45}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>button_shop4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,51}</string>
                <key>spriteSourceSize</key>
                <string>{50,51}</string>
                <key>textureRect</key>
                <string>{{487,708},{50,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_swat_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{625,193},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_swat_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{111,794},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_swat_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{108,94}</string>
                <key>spriteSourceSize</key>
                <string>{112,96}</string>
                <key>textureRect</key>
                <string>{{221,698},{108,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{512,512}</string>
                <key>spriteSourceSize</key>
                <string>{512,512}</string>
                <key>textureRect</key>
                <string>{{1,1},{512,512}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{87,86}</string>
                <key>textureRect</key>
                <string>{{506,533},{85,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,86}</string>
                <key>spriteSourceSize</key>
                <string>{87,86}</string>
                <key>textureRect</key>
                <string>{{594,533},{85,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{87,86}</string>
                <key>textureRect</key>
                <string>{{622,385},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{403,592},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{399,680},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{408,768},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{491,620},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{579,621},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,86}</string>
                <key>spriteSourceSize</key>
                <string>{86,86}</string>
                <key>textureRect</key>
                <string>{{496,761},{86,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hero_progressbar1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,11}</string>
                <key>spriteSourceSize</key>
                <string>{64,11}</string>
                <key>textureRect</key>
                <string>{{711,385},{64,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hero_progressbar2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,11}</string>
                <key>spriteSourceSize</key>
                <string>{64,11}</string>
                <key>textureRect</key>
                <string>{{710,862},{64,11}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_gold1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{44,890},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_lifes.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,39}</string>
                <key>spriteSourceSize</key>
                <string>{41,39}</string>
                <key>textureRect</key>
                <string>{{87,890},{41,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pause-old.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,61}</string>
                <key>spriteSourceSize</key>
                <string>{61,61}</string>
                <key>textureRect</key>
                <string>{{221,871},{61,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,53}</string>
                <key>spriteSourceSize</key>
                <string>{58,53}</string>
                <key>textureRect</key>
                <string>{{622,473},{58,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>icon_settings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,68}</string>
                <key>spriteSourceSize</key>
                <string>{68,68}</string>
                <key>textureRect</key>
                <string>{{667,693},{68,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_wave1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,39}</string>
                <key>spriteSourceSize</key>
                <string>{40,39}</string>
                <key>textureRect</key>
                <string>{{130,890},{40,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon_x.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{284,871},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{586,709},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item1_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{76,75}</string>
                <key>spriteSourceSize</key>
                <string>{76,75}</string>
                <key>textureRect</key>
                <string>{{584,786},{76,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,75}</string>
                <key>spriteSourceSize</key>
                <string>{101,75}</string>
                <key>textureRect</key>
                <string>{{403,515},{101,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item2_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,75}</string>
                <key>spriteSourceSize</key>
                <string>{101,75}</string>
                <key>textureRect</key>
                <string>{{221,794},{101,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{662,786},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>item3_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,74}</string>
                <key>textureRect</key>
                <string>{{496,849},{75,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>unactive_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{100,50}</string>
                <key>spriteSourceSize</key>
                <string>{100,64}</string>
                <key>textureRect</key>
                <string>{{515,481},{100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_direction0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,66}</string>
                <key>spriteSourceSize</key>
                <string>{91,66}</string>
                <key>textureRect</key>
                <string>{{331,704},{91,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>wave_direction1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{642,863},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_direction2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{19,33}</string>
                <key>spriteSourceSize</key>
                <string>{19,33}</string>
                <key>textureRect</key>
                <string>{{172,890},{19,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>wave_direction3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,70}</string>
                <key>spriteSourceSize</key>
                <string>{70,70}</string>
                <key>textureRect</key>
                <string>{{667,621},{70,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui.png</string>
            <key>size</key>
            <string>{738,933}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e783eac3dbf86e44369f9835f274f295:074eb157c708a4f6f9bc52c134840891:e489eb72a1dac3e9a97caaf8aad1ac42$</string>
            <key>textureFileName</key>
            <string>ui.png</string>
        </dict>
    </dict>
</plist>
