<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>die/bigman1_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,240},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,212},{56,66}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,12},{56,66}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,140},{54,70}}</string>
                <key>offset</key>
                <string>{8,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,8},{54,70}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,196},{60,48}}</string>
                <key>offset</key>
                <string>{18,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,30},{60,48}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,240},{62,42}}</string>
                <key>offset</key>
                <string>{29,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{68,46},{62,42}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,304},{62,42}}</string>
                <key>offset</key>
                <string>{30,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,44},{62,42}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,240},{62,42}}</string>
                <key>offset</key>
                <string>{30,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,41},{62,42}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,304},{62,42}}</string>
                <key>offset</key>
                <string>{31,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,44},{62,42}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,304},{62,42}}</string>
                <key>offset</key>
                <string>{31,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,46},{62,42}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,386},{62,42}}</string>
                <key>offset</key>
                <string>{31,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,46},{62,42}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,382},{62,44}}</string>
                <key>offset</key>
                <string>{31,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{62,44}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>die/bigman1_die_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{62,44}}</string>
                <key>offset</key>
                <string>{31,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{62,44}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,2},{74,62}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,66},{72,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{72,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{74,62}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,306},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,230},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,154},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,78},{74,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{74,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,306},{74,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{74,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{74,62}}</string>
                <key>offset</key>
                <string>{-9,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,16},{74,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{72,62}}</string>
                <key>offset</key>
                <string>{-10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,16},{72,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>fire/bigman1_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,304},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,240},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,322},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,258},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,182},{56,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,15},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,66},{56,64}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{56,64}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,182},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,182},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,124},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,124},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,368},{56,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{56,60}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,124},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,66},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,66},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,66},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,334},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,270},{56,62}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,15},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,140},{56,64}}</string>
                <key>offset</key>
                <string>{-2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,14},{56,64}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,66},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,132},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,206},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,344},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,368},{56,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{56,60}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,368},{56,60}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,18},{56,60}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
            <key>left/bigman1_go_0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,280},{56,62}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,16},{56,62}}</string>
                <key>sourceSize</key>
                <string>{140,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bigman.png</string>
            <key>size</key>
            <string>{508,430}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a10633cce83facd627948061c389d2c5$</string>
            <key>textureFileName</key>
            <string>bigman.png</string>
        </dict>
    </dict>
</plist>
