<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bmp2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,66},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,130},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,194},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,258},{90,62}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{90,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{86,62}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,22},{86,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,322},{88,62}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,322},{88,62}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{88,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,66},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,130},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,194},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_go_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,258},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_go_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_go_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,386},{84,64}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,20},{84,64}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_go_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,386},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>bmp2_go_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,258},{84,62}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,22},{84,62}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>bmp.png</string>
            <key>size</key>
            <string>{272,452}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cba1730cab44a8ab758a59a1349e11b9:ebb365506aeea70df3cce85f4d653fc1:27859c213b87b8e425f8074c963e1435$</string>
            <key>textureFileName</key>
            <string>bmp.png</string>
        </dict>
    </dict>
</plist>
