<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fish-attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,693},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,699},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,662},{35,49}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,9},{35,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,147},{37,49}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,37},{43,49}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,9},{43,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{57,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{57,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,88},{57,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{57,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{57,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,9},{57,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,49}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{61,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,728},{33,49}}</string>
                <key>offset</key>
                <string>{-12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,909},{33,47}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{33,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{33,45}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,14},{33,45}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{51,938},{33,43}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,16},{33,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{33,43}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,16},{33,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,973},{33,43}}</string>
                <key>offset</key>
                <string>{-3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{33,43}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,979},{33,41}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{33,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,979},{33,41}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,18},{33,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back00.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,498},{37,49}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,10},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back02.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,186},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back04.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,225},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,233},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back06.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,264},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back08.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,303},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,311},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back10.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,342},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-back12.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,381},{37,51}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,763},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,769},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,798},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,833},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side07.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,868},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,874},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk-side09.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,903},{33,49}}</string>
                <key>offset</key>
                <string>{12,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,9},{33,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,537},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,545},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,389},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,420},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,576},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,615},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,623},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{55,459},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,467},{37,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,7},{37,51}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Fish-walk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,654},{37,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,9},{37,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>catfish.png</string>
            <key>size</key>
            <string>{112,1022}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a4aa65c9530f767383c2a14a8d45f1b:1fc2614e4a1d17007dca996a6a5679cf:940d74365a0d4e5e55ec4fdbbb937f4b$</string>
            <key>textureFileName</key>
            <string>catfish.png</string>
        </dict>
    </dict>
</plist>
