<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helicopter2_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{60,53}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,188},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{60,53}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,57},{60,53}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{60,53}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,250},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,126},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_back_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,277},{60,53}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helicopter2.up.png</string>
            <key>size</key>
            <string>{121,391}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ccd3dc91819f08fd1708f51e1153cbba:696002cf7457ba108716d834a6004b80:14ae3cc603dd50f92833d50e1a1e2aae$</string>
            <key>textureFileName</key>
            <string>helicopter2.up.png</string>
        </dict>
    </dict>
</plist>
