<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>helicopter2_left_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,140},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,138},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,2},{82,65}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,65}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,138},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,138},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,138},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{82,65}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{82,65}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{82,65}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{82,65}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,71},{82,67}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,69},{82,67}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{82,65}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,26},{82,65}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,69},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,69},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,69},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,65}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,65}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>helicopter2_left_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,140},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helicopter2.left.png</string>
            <key>size</key>
            <string>{506,209}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd575063f6698721ff11e3a7904d9cd4:741cf76b7b7c8cbd3a971865e82d0d0a:67a0c992cc691917c87a88ac641dbe62$</string>
            <key>textureFileName</key>
            <string>helicopter2.left.png</string>
        </dict>
    </dict>
</plist>
