<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>down/helicopter_med_front_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,453},{60,59}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,515},{60,59}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,577},{60,59}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,453},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,515},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,577},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,453},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,515},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,577},{60,59}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,385},{60,59}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,577},{60,59}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,26},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,447},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,509},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,577},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,571},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,385},{60,59}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,385},{60,59}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,24},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>down/helicopter_med_front_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{71,515},{60,59}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,24},{60,59}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{82,77}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{82,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,167},{82,77}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,167},{82,77}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{82,79}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,79}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,86},{82,79}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,79}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{82,81}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,2},{82,81}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,2},{82,81}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{82,83}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,83}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{82,83}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,83}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{82,83}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,83}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,85},{82,81}}</string>
                <key>offset</key>
                <string>{-1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{341,85},{82,81}}</string>
                <key>offset</key>
                <string>{-1,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,85},{82,81}}</string>
                <key>offset</key>
                <string>{-1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,81}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,86},{82,79}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,79}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,168},{82,77}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,168},{82,77}}</string>
                <key>offset</key>
                <string>{-1,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>healing/helicopter_med_hill_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,168},{82,77}}</string>
                <key>offset</key>
                <string>{-1,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,22},{82,77}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,246},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,246},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,247},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,247},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,247},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,315},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,315},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,316},{82,67}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,316},{82,67}}</string>
                <key>offset</key>
                <string>{-1,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,25},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,316},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,384},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,384},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,453},{82,67}}</string>
                <key>offset</key>
                <string>{-1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,24},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>left/helicopter_med_go_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,621},{82,67}}</string>
                <key>offset</key>
                <string>{-1,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,23},{82,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,385},{60,53}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,633},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,447},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,447},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,509},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,571},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,509},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,571},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,509},{60,53}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,633},{60,53}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,31},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,509},{60,53}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,31},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,633},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,509},{60,55}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,29},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,571},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,571},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,447},{60,53}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,30},{60,53}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,446},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>up/helicopter_med_back_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{269,633},{60,55}}</string>
                <key>offset</key>
                <string>{0,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,28},{60,55}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>helocopter_medic.png</string>
            <key>size</key>
            <string>{510,690}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a59ab98012492993017167e2db143ce:455d71ba985668983bf1a97a9615e66f:faabe44f35b12f74f03740de51713bb3$</string>
            <key>textureFileName</key>
            <string>helocopter_medic.png</string>
        </dict>
    </dict>
</plist>
