<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jeep_leftright0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{66,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{66,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_leftright0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{66,74}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_leftright0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{66,74}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_leftright0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{66,74}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_leftright0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,78},{66,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,68},{66,74}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
            <key>jeep_leftright0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,154},{66,72}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,70},{66,72}}</string>
                <key>sourceSize</key>
                <string>{110,210}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>jeep.left.png</string>
            <key>size</key>
            <string>{138,228}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ca62da56e5acc054bc8c025da9860351:ba490479617fa1e926b3d5fe1d81cdd6:84bb83b1118d278207c64f67222d7a48$</string>
            <key>textureFileName</key>
            <string>jeep.left.png</string>
        </dict>
    </dict>
</plist>
