<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>medik_hill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{43,38}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,5},{43,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{49,38}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,5},{49,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,82},{55,38}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{55,38}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,122},{55,38}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,42},{57,38}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{57,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{57,38}}</string>
                <key>offset</key>
                <string>{-13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{57,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,122},{55,38}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{55,38}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,162},{55,38}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,179},{55,38}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,5},{55,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,2},{59,38}}</string>
                <key>offset</key>
                <string>{-14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{59,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{61,42}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,6},{61,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,202},{49,38}}</string>
                <key>offset</key>
                <string>{-9,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,5},{49,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>medik_hill_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,82},{33,38}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>medic.fire.png</string>
            <key>size</key>
            <string>{156,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33fef89af1d612d1735c2bf2e7e7a333:1ba57f4a7a73ab67a4c59c405c49499c:d9eb594a9513886a550b18a47c9a46d6$</string>
            <key>textureFileName</key>
            <string>medic.fire.png</string>
        </dict>
    </dict>
</plist>
