<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>meh_b1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,126},{110,122}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{63,51},{110,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,237},{110,124}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{110,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,1},{114,124}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,49},{114,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{613,1},{116,126}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,47},{116,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,128},{112,124}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,49},{112,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,362},{110,124}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,49},{110,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,128},{112,122}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,51},{112,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,1},{126,124}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,49},{126,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,249},{140,126}}</string>
                <key>offset</key>
                <string>{-12,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,49},{140,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,247},{152,128}}</string>
                <key>offset</key>
                <string>{-18,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,49},{152,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,1},{154,126}}</string>
                <key>offset</key>
                <string>{-19,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,49},{154,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,124},{156,124}}</string>
                <key>offset</key>
                <string>{-20,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,49},{156,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{164,122}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,51},{164,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,124},{164,122}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,51},{164,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1},{164,122}}</string>
                <key>offset</key>
                <string>{-24,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,51},{164,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_b1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,118},{110,122}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,51},{110,122}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,241},{90,132}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,43},{90,132}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,374},{94,130}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{94,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,376},{100,128}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,47},{100,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,249},{106,126}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,49},{106,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{689,241},{110,124}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,51},{110,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{865,1},{102,126}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,49},{102,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,376},{92,128}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,47},{92,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,352},{88,130}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,45},{88,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{493,241},{84,132}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,43},{84,132}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,352},{84,130}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{84,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,376},{84,128}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{84,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,215},{84,126}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,49},{84,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,342},{84,124}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,51},{84,124}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,128},{86,126}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,49},{86,126}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,376},{88,128}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,47},{88,128}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
            <key>meh_go1_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,374},{90,130}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,45},{90,130}}</string>
                <key>sourceSize</key>
                <string>{230,200}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>meh1.png</string>
            <key>size</key>
            <string>{973,505}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1bc4199a852891bd8d8bdd36dbbd8a3f:8b43795d970aacefbc3e911c47c000e0:9d7059d1a624202b18c26394ee528245$</string>
            <key>textureFileName</key>
            <string>meh1.png</string>
        </dict>
    </dict>
</plist>
