<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Motorcycle-cat-2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,59},{31,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{31,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,73},{29,53}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,73},{29,53}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,73},{29,53}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,59},{31,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,19},{31,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,59},{29,55}}</string>
                <key>offset</key>
                <string>{10,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,19},{29,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{695,73},{29,53}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,73},{29,53}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,73},{29,53}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,90},{29,53}}</string>
                <key>offset</key>
                <string>{10,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,21},{29,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,2},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{57,57}}</string>
                <key>offset</key>
                <string>{11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,17},{57,57}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,2},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,2},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{75,55}}</string>
                <key>offset</key>
                <string>{2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,19},{75,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,59},{81,55}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{81,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{83,55}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{83,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,55}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{85,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,2},{83,55}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{83,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{81,55}}</string>
                <key>offset</key>
                <string>{0,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,19},{81,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,59},{79,55}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,19},{79,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1141,2},{57,55}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1200,2},{57,55}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,61},{57,55}}</string>
                <key>offset</key>
                <string>{12,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,67},{59,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,19},{59,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,59},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{905,59},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,59},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{1023,59},{57,55}}</string>
                <key>offset</key>
                <string>{11,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,19},{57,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,59},{55,55}}</string>
                <key>offset</key>
                <string>{11,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,20},{55,55}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,73},{49,53}}</string>
                <key>offset</key>
                <string>{11,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,22},{49,53}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{61,69}}</string>
                <key>offset</key>
                <string>{11,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,6},{61,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{251,59},{61,71}}</string>
                <key>offset</key>
                <string>{12,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,4},{61,71}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{63,71}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,4},{63,71}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{63,71}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,2},{63,71}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,65},{61,69}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{61,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,67},{59,69}}</string>
                <key>offset</key>
                <string>{13,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,0},{59,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{551,2},{57,69}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{57,69}}</string>
                <key>offset</key>
                <string>{11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{669,2},{57,69}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
            <key>Motorcycle-cat-2-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,2},{57,69}}</string>
                <key>offset</key>
                <string>{10,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{57,69}}</string>
                <key>sourceSize</key>
                <string>{85,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>moto.png</string>
            <key>size</key>
            <string>{1262,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd05abafff963d12292004edfc307d48:0bf0b7862876d92ac29420dda7083127:151a483eb3ed08a3208fbd493a366a13$</string>
            <key>textureFileName</key>
            <string>moto.png</string>
        </dict>
    </dict>
</plist>
