<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Rat-trap-2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1346},{51,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1414},{51,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1066},{51,68}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{51,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1136},{51,68}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{51,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1482},{51,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1550},{51,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1618},{51,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1206},{51,68}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{51,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1276},{51,68}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{51,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,1686},{51,66}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,14},{51,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1347},{69,66}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{69,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1137},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{69,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1207},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{69,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{69,70}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{69,70}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1277},{69,68}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{69,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1415},{69,66}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{69,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{85,66}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{85,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{77,66}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{77,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{77,68}}</string>
                <key>offset</key>
                <string>{3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{77,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,930},{77,66}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{77,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{77,66}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{77,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1483},{69,66}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{69,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1551},{69,66}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,14},{69,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1619},{69,66}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,14},{69,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1754},{67,66}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{67,66}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1687},{59,64}}</string>
                <key>offset</key>
                <string>{-1,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,15},{59,64}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{81,72}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,6},{81,72}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{83,72}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,4},{83,72}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{85,72}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{85,72}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{85,72}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{85,72}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{83,70}}</string>
                <key>offset</key>
                <string>{-6,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{83,70}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{81,70}}</string>
                <key>offset</key>
                <string>{-7,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,70}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{79,70}}</string>
                <key>offset</key>
                <string>{-6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{79,70}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{77,68}}</string>
                <key>offset</key>
                <string>{-5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{77,68}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
            <key>Rat-trap-2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{77,68}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{77,68}}</string>
                <key>sourceSize</key>
                <string>{95,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rattrap2.png</string>
            <key>size</key>
            <string>{127,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5b255811193190dd325d96d09fa03bf2:62f7bc6a37c7d666d4c0229b87c700f0:69e9adcf048dc343a90211d6147304f7$</string>
            <key>textureFileName</key>
            <string>rattrap2.png</string>
        </dict>
    </dict>
</plist>
