<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rembot1_hill_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,138},{80,66}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,11},{80,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,70},{88,66}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,11},{88,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{96,66}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,11},{96,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,140},{100,66}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,11},{100,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,142},{104,66}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{104,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,2},{104,68}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{104,68}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{104,74}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{104,74}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{104,68}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{104,68}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,72},{104,66}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{104,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,72},{104,68}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{104,68}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{104,74}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{104,74}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{104,68}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{104,68}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
            <key>rembot1_hill_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,140},{104,66}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{104,66}}</string>
                <key>sourceSize</key>
                <string>{120,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rembot.healing.png</string>
            <key>size</key>
            <string>{418,246}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34d5e906ca04cc2538df435dfb181f94:5ebbb267f8294d9f4aaa39da34fdbcc6:a2daea11a054a8ad9e8242e1ea0f4476$</string>
            <key>textureFileName</key>
            <string>rembot.healing.png</string>
        </dict>
    </dict>
</plist>
