<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ship1_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,82}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{87,82}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{87,82}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{87,82}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{99,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{99,84}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{103,86},{99,84}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,3},{99,84}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{103,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{103,86}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{107,172},{103,86}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,3},{103,86}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{109,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,260},{109,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{109,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
            <key>ship1_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,350},{109,88}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{109,88}}</string>
                <key>sourceSize</key>
                <string>{109,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ship.left.png</string>
            <key>size</key>
            <string>{224,440}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ba3f8e035f9456616ad045e681e820fc:d0b57dafb8af8090e77398e1033a6708:5b14974b38616ed2ee62d8eda4c5dfa4$</string>
            <key>textureFileName</key>
            <string>ship.left.png</string>
        </dict>
    </dict>
</plist>
