<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basic-bomb-cat-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,45}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{42,45}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{42,41}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,276},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,321},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{42,45}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,28},{42,45}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{42,41}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,501},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.up.png</string>
            <key>size</key>
            <string>{46,692}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:24870da2f8b90a5bdf7493130b1fe5fd:d807fe4d4491f794c1fcd5243742e005:625b74434f403cfae77bf29350413175$</string>
            <key>textureFileName</key>
            <string>soldier.up.png</string>
        </dict>
    </dict>
</plist>
