<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basic-bomb-cat-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{45,47}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,28},{45,47}}</string>
                <key>sourceSize</key>
                <string>{63,75}</string>
            </dict>
            <key>Basic-bomb-cat-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,579},{42,41}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,271},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,315},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,51},{42,45}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{42,45}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,95},{42,45}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,28},{42,45}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,359},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,447},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{42,41}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,535},{42,43}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,30},{42,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.down.png</string>
            <key>size</key>
            <string>{49,665}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:25b2331c497c83591faededcf13956fa:27ed973641b1bcfaa60dea8a4361a4b6:f1159e52f7172fcfb8bb371153a12540$</string>
            <key>textureFileName</key>
            <string>soldier.down.png</string>
        </dict>
    </dict>
</plist>
