<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dynamite-cat-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{42,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{42,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,610},{40,46}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{40,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{44,44}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{42,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{42,44}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{42,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{42,44}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{42,46}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{42,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,46}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{42,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{42,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{42,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,30},{42,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,658},{40,46}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,32},{40,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{44,44}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,34},{44,44}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{42,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{42,44}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{42,44}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,34},{42,44}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{42,46}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,32},{42,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{44,46}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier2.left.png</string>
            <key>size</key>
            <string>{48,706}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:556f1b02af1fea0859d52061794e7e4f:0294f16fb7040091265b71bfadbda5c9:a4d3b688afe2418898ee92aacc5a0c74$</string>
            <key>textureFileName</key>
            <string>soldier2.left.png</string>
        </dict>
    </dict>
</plist>
