<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basic-bomb-cat-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,45}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{36,45}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,186},{36,41}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,92},{36,41}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,135},{36,41}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{36,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,47},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,49},{36,45}}</string>
                <key>offset</key>
                <string>{1,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,28},{36,45}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,47},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,137},{36,41}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,178},{36,41}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,180},{36,41}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{36,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,141},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,92},{36,43}}</string>
                <key>offset</key>
                <string>{1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,30},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.left.png</string>
            <key>size</key>
            <string>{116,229}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:777023218af66bd4781e48d860d39bce:8e90b828efaad436cd589cdbcc1759a7:081e549d6303dec5b683c595320593fb$</string>
            <key>textureFileName</key>
            <string>soldier.left.png</string>
        </dict>
    </dict>
</plist>
