<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basic-bomb-cat-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,2},{36,43}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{36,43}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{34,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{34,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,2},{34,41}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,34},{34,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,2},{42,41}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,34},{42,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{673,2},{44,41}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,34},{44,41}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,43}}</string>
                <key>offset</key>
                <string>{-4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{48,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,2},{34,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{34,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,2},{34,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{34,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{34,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,32},{34,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,2},{32,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{32,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{32,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{32,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{32,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{32,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{32,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{32,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,2},{32,43}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,32},{32,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{34,43}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,32},{34,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
            <key>Basic-bomb-cat-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{36,43}}</string>
                <key>offset</key>
                <string>{1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,32},{36,43}}</string>
                <key>sourceSize</key>
                <string>{62,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier.fire.png</string>
            <key>size</key>
            <string>{761,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06efb58a45800116b14c2d48e55c2b0c:cf74e1a7424903a387866729fbe477bb:0b2a1e0adfaa708fa1f0665d6e03220d$</string>
            <key>textureFileName</key>
            <string>soldier.fire.png</string>
        </dict>
    </dict>
</plist>
