<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dynamite-cat-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier2.up.png</string>
            <key>size</key>
            <string>{48,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ae3708b26b7c164921c258fb2fed69a:80017a965502a68c6983d2a46453f375:8198c321774951f6523c49f23fac4517$</string>
            <key>textureFileName</key>
            <string>soldier2.up.png</string>
        </dict>
    </dict>
</plist>
