<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Dynamite-cat-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,538},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,682},{44,46}}</string>
                <key>offset</key>
                <string>{-1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,32},{44,46}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
            <key>Dynamite-cat-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{44,48}}</string>
                <key>offset</key>
                <string>{-1,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,30},{44,48}}</string>
                <key>sourceSize</key>
                <string>{66,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>soldier2.down.png</string>
            <key>size</key>
            <string>{48,742}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d993b111e41090001a63f5874ffcb34:9e4355dbd474bf5b340ee4a2eec38e82:916f5b68496455b4bfee3c893a31b129$</string>
            <key>textureFileName</key>
            <string>soldier2.down.png</string>
        </dict>
    </dict>
</plist>
