<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tank1_fire0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,71},{78,67}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{78,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{78,67}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{78,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,71},{80,67}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{80,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{80,67}}</string>
                <key>offset</key>
                <string>{7,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,17},{80,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,71},{80,67}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{80,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,2},{80,67}}</string>
                <key>offset</key>
                <string>{8,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{80,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{76,67}}</string>
                <key>offset</key>
                <string>{6,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{76,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,69}}</string>
                <key>offset</key>
                <string>{8,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,15},{80,69}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,71},{66,67}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{66,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
            <key>tank1_fire0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,71},{66,67}}</string>
                <key>offset</key>
                <string>{1,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,17},{66,67}}</string>
                <key>sourceSize</key>
                <string>{110,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tank.fire.png</string>
            <key>size</key>
            <string>{464,140}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:34c9a7ee485e1b5c2ec385d7275ffaea:df03347a93d5a774d95f6a066cb92dc7:10f3ca305b8c7cf9457f3536daefce1f$</string>
            <key>textureFileName</key>
            <string>tank.fire.png</string>
        </dict>
    </dict>
</plist>
