<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Tank-Attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1444},{148,73}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,27},{148,73}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1813},{148,75}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,25},{148,75}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1225},{144,71}}</string>
                <key>offset</key>
                <string>{-8,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{144,71}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1298},{126,71}}</string>
                <key>offset</key>
                <string>{-17,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{126,71}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1519},{160,71}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{160,71}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1592},{160,71}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{160,71}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1665},{160,71}}</string>
                <key>offset</key>
                <string>{1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,26},{160,71}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,1738},{160,73}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,24},{160,73}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{160,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{160,65}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,685},{160,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{160,65}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,423},{160,63}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{160,63}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,618},{160,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{160,65}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{160,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{160,65}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,819},{160,65}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{160,65}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{160,63}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{160,63}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-Attack15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{160,63}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,27},{160,63}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>Tank-side00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side01.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1005},{101,73}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,24},{101,73}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,955},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1101},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side05.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1108},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1174},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1393},{101,73}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{101,73}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1247},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1320},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side10.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1108},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>Tank-side11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1247},{101,71}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,26},{101,71}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>TankBackwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,423},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,495},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,567},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,639},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,711},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,783},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,855},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,855},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,927},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,927},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>TankBackwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,927},{76,70}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{76,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,999},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{74,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1073},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1149},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1468},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Tankwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1620},{74,74}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,7},{74,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>die00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,886},{102,67}}</string>
                <key>offset</key>
                <string>{-22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,23},{102,67}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die01.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,1371},{102,71}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,19},{102,71}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1890},{106,75}}</string>
                <key>offset</key>
                <string>{-24,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,15},{106,75}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die03.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1892},{110,77}}</string>
                <key>offset</key>
                <string>{-26,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{110,77}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1696},{102,73}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,24},{102,73}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,116},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,175},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die07.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1813},{102,77}}</string>
                <key>offset</key>
                <string>{-22,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{102,77}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die08.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,177},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die10.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,238},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,297},{102,59}}</string>
                <key>offset</key>
                <string>{-21,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die12.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,299},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die13.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,238},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die14.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,238},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die15.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,238},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,31},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,55}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{102,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die17.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,55}}</string>
                <key>offset</key>
                <string>{-22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,36},{102,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{102,57}}</string>
                <key>offset</key>
                <string>{-22,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,35},{102,57}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die19.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,360},{102,61}}</string>
                <key>offset</key>
                <string>{-22,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,30},{102,61}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,358},{102,59}}</string>
                <key>offset</key>
                <string>{-22,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{102,59}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{110,55}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{110,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die22.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,59},{108,55}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{108,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die23.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,59},{108,55}}</string>
                <key>offset</key>
                <string>{-25,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,36},{108,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{110,55}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{110,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
            <key>die25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{110,55}}</string>
                <key>offset</key>
                <string>{-26,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,37},{110,55}}</string>
                <key>sourceSize</key>
                <string>{162,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tankcat.png</string>
            <key>size</key>
            <string>{256,1971}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:11f2a40080d8fe13268593e8b435445a:0402ef404813584f576f76317e674b95:cf3413271732e6e555062b4f21f093ab$</string>
            <key>textureFileName</key>
            <string>tankcat.png</string>
        </dict>
    </dict>
</plist>
