<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kitty-litter-tower-L1-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{116,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{241,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{366,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{491,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{616,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{741,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{866,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{991,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1116,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1241,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1366,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1491,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1616,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1741,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1866,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,113}</string>
                <key>spriteSourceSize</key>
                <string>{113,113}</string>
                <key>textureRect</key>
                <string>{{1,116},{113,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{116,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{241,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{366,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{491,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{616,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{741,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{866,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{991,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1116,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1241,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1366,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1491,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1616,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1741,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1866,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>1.png</string>
            <key>size</key>
            <string>{1990,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56476bf0ff0ab17838ae56d4d57f35ef:19f20d15164969fabeb4c9d7158ed00d:2f7983b4c14cf09938dfa44df99367f8$</string>
            <key>textureFileName</key>
            <string>1.png</string>
        </dict>
    </dict>
</plist>
