<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kitty-litter-tower-L2-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{117,123}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,111},{105,103}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,20},{105,103}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,111},{107,97}}</string>
                <key>offset</key>
                <string>{-3,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,26},{107,97}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1363,115},{107,105}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,18},{107,105}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{109,113}}</string>
                <key>offset</key>
                <string>{-4,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,10},{109,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,127},{109,119}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{109,119}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,127},{101,123}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,127},{99,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,127},{117,123}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{117,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,2},{105,101}}</string>
                <key>offset</key>
                <string>{1,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,22},{105,101}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,2},{107,97}}</string>
                <key>offset</key>
                <string>{2,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,26},{107,97}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1367,2},{107,105}}</string>
                <key>offset</key>
                <string>{3,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,18},{107,105}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,117},{109,113}}</string>
                <key>offset</key>
                <string>{3,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,10},{109,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{109,119}}</string>
                <key>offset</key>
                <string>{4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{109,119}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{101,123}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{101,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{89,123}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{89,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,2},{113,123}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{113,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,2},{101,111}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{101,111}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,2},{103,113}}</string>
                <key>offset</key>
                <string>{-1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,10},{103,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{951,2},{105,113}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{105,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,117},{105,113}}</string>
                <key>offset</key>
                <string>{-2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{105,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,123},{105,119}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{105,119}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{99,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,127},{99,123}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{99,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,127},{109,123}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{109,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1264,115},{97,111}}</string>
                <key>offset</key>
                <string>{1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,12},{97,111}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{99,113}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{99,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,117},{99,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,10},{99,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,117},{101,113}}</string>
                <key>offset</key>
                <string>{2,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{101,113}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{101,119}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,4},{101,119}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{93,123}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{93,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
            <key>Kitty-litter-tower-L2-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,127},{85,123}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{85,123}}</string>
                <key>sourceSize</key>
                <string>{131,123}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2.png</string>
            <key>size</key>
            <string>{1676,252}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:213d1e00d59f6d2039bda6b86b2ee452:fdb8864fc9cef21441868a31f034f7ce:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>2.png</string>
        </dict>
    </dict>
</plist>
