<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kitty-litter-tower-L4-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{138,132}}</string>
                <key>offset</key>
                <string>{-16,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,912},{124,118}}</string>
                <key>offset</key>
                <string>{-12,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,14},{124,118}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,796},{126,114}}</string>
                <key>offset</key>
                <string>{-13,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,18},{126,114}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,406},{126,120}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,12},{126,120}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,666},{128,126}}</string>
                <key>offset</key>
                <string>{-14,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,6},{128,126}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,1834},{128,128}}</string>
                <key>offset</key>
                <string>{-14,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{128,128}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,274},{120,130}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,2},{120,130}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1300},{112,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{112,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{146,132}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{146,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,654},{132,118}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,14},{132,118}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{134,112}}</string>
                <key>offset</key>
                <string>{6,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,20},{134,112}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,138},{134,120}}</string>
                <key>offset</key>
                <string>{7,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,12},{134,120}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{136,124}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,8},{136,124}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{136,128}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{136,128}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,534},{126,130}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{126,130}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1166},{114,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,774},{118,132}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{110,130}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{110,130}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1818},{110,130}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,2},{110,130}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{110,132}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1566},{110,132}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{110,132}}</string>
                <key>offset</key>
                <string>{-5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1434},{112,130}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{112,130}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{112,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{112,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,526},{126,132}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{126,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1252},{114,132}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{114,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1032},{116,132}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1134},{116,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{116,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,894},{118,132}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1014},{118,132}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,0},{118,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1930},{110,130}}</string>
                <key>offset</key>
                <string>{-6,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,2},{110,130}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
            <key>Kitty-litter-tower-L4-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,1700},{110,132}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{110,132}}</string>
                <key>sourceSize</key>
                <string>{170,132}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>4.png</string>
            <key>size</key>
            <string>{264,2042}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0a9c01b4bf93ebeb21accab0ca33520:d9173058adc54457cfe36d04a845ae53:aea8e837dce9be4396a19dc32cf6304d$</string>
            <key>textureFileName</key>
            <string>4.png</string>
        </dict>
    </dict>
</plist>
