<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Kitty-litter-tower-L1-0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{126,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{251,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{376,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{501,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{626,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{751,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{876,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1001,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1126,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1251,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1376,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1501,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1626,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1751,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1876,1},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0041.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{126,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0042.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{251,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0043.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{376,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0044.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{501,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0045.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{626,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0046.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{751,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0047.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{876,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1001,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0061.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1126,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0062.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1251,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0063.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1376,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0064.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1501,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0065.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1626,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0066.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1751,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Kitty-litter-tower-L1-0067.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,113}</string>
                <key>spriteSourceSize</key>
                <string>{123,113}</string>
                <key>textureRect</key>
                <string>{{1876,116},{123,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>test.png</string>
            <key>size</key>
            <string>{2000,230}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:95c119ab860ce9404c20a28634879c63:30166eadd4560b4396abcadc9aa92721:96fb3d46aab20ec9eb9704de1ab972b6$</string>
            <key>textureFileName</key>
            <string>test.png</string>
        </dict>
    </dict>
</plist>
