<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>greymice0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{279,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>greymice0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{53,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,25}}</string>
                <key>sourceSize</key>
                <string>{53,25}</string>
            </dict>
            <key>landmice01.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>landmice02.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,2},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{65,25}</string>
            </dict>
            <key>rat01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{52,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>rat02.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,2},{52,26}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{52,26}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>rat03.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,2},{52,24}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{52,24}}</string>
                <key>sourceSize</key>
                <string>{58,30}</string>
            </dict>
            <key>sandwich0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{705,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
            <key>sandwich0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{39,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,10},{39,25}}</string>
                <key>sourceSize</key>
                <string>{45,45}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1_skills.png</string>
            <key>size</key>
            <string>{964,30}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c3fedc4b36085267489ba1eb93300890:d21f4a3c3a46af1f70eb01b588cb36a2:8aa6227eb0179c5a182da3b3383da5fa$</string>
            <key>textureFileName</key>
            <string>hero1_skills.png</string>
        </dict>
    </dict>
</plist>
