<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero3_desant_1_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,90},{29,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{29,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{311,146},{27,44}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{27,44}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,146},{29,44}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,0},{29,44}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,134},{29,42}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,0},{29,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,213},{33,38}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,5},{33,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,213},{37,26}}</string>
                <key>offset</key>
                <string>{19,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,17},{37,26}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,192},{41,22}}</string>
                <key>offset</key>
                <string>{23,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{323,192},{41,22}}</string>
                <key>offset</key>
                <string>{25,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,22},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,172},{39,22}}</string>
                <key>offset</key>
                <string>{28,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,21},{39,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,212},{39,22}}</string>
                <key>offset</key>
                <string>{28,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,22},{39,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,213},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,213},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,26},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,128},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,167},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,170},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,209},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_die_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,206},{37,22}}</string>
                <key>offset</key>
                <string>{29,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,23},{37,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{59,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,0},{59,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,185},{51,50}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{51,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,63},{45,50}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{45,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,115},{41,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,167},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,115},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,167},{39,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{39,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,2},{37,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{37,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,50},{37,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,1},{37,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,98},{35,46}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,1},{35,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_enter_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,216},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,63},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,185},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,63},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,124},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,185},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,63},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,124},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,185},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,63},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,124},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,92},{41,42}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{41,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{43,42}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,47},{43,42}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,136},{37,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{37,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,216},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,216},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,90},{29,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{29,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,219},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,219},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,180},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,178},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,215},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,46},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,2},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,134},{29,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{29,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,46},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,46},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,178},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{379,134},{31,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{31,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_go_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,90},{29,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,2},{29,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,90},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,46},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,88},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,44},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,130},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,86},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,44},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{499,2},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{495,44},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{509,128},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,86},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,44},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,2},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,170},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,128},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,86},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{565,50},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,90},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,90},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3_desant1.png</string>
            <key>size</key>
            <string>{608,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fa6798024fd429ecf0c92a4228c0abef:1821b2aa5f7e570dc5bdda4f9d71f316:d0957ce2db68d323c5a027154fe48c21$</string>
            <key>textureFileName</key>
            <string>hero3_desant1.png</string>
        </dict>
    </dict>
</plist>
