<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Wizard-Cat-Backwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1358},{56,72}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,106},{54,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,734},{52,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,658},{50,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,6},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,810},{52,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,658},{54,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,1412},{54,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1388},{56,72}}</string>
                <key>offset</key>
                <string>{-3,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{54,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,826},{52,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1150},{50,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{52,74}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Backwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,714},{54,74}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,6},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,266},{54,76}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,10},{54,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{50,74}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,11},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{50,68}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,15},{50,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,54},{50,68}}</string>
                <key>offset</key>
                <string>{13,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,19},{50,68}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1856},{50,70}}</string>
                <key>offset</key>
                <string>{14,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,19},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1864},{50,70}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1892},{50,70}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1916},{50,70}}</string>
                <key>offset</key>
                <string>{14,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,20},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death08.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,76},{1,1}}</string>
                <key>offset</key>
                <string>{-44.5,44.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-Death09.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,396},{42,42}}</string>
                <key>offset</key>
                <string>{19,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,40},{42,42}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1416},{56,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{56,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1504},{54,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1190},{52,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{52,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,880},{52,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,910},{52,74}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1486},{54,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,7},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1532},{54,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,7},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1446},{56,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{56,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1560},{54,72}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,886},{52,74}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,934},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,962},{52,74}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,5},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-FrontWalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1560},{54,72}}</string>
                <key>offset</key>
                <string>{2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,7},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1944},{50,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1202},{50,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,450},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,162},{50,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{50,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,502},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{50,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1254},{50,74}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,214},{50,78}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,7},{50,78}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,554},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-SideWalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1284},{50,74}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1588},{54,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1616},{54,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{52,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,988},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1038},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1042},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{52,76}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,5},{52,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1072},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1096},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1114},{52,74}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1126},{52,74}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,6},{52,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1634},{54,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>Wizard-Cat-idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1644},{54,72}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizard-cat-normal-attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,606},{50,76}}</string>
                <key>offset</key>
                <string>{40,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{86,8},{50,76}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1782},{50,72}}</string>
                <key>offset</key>
                <string>{40,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,8},{50,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{54,72}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1700},{54,72}}</string>
                <key>offset</key>
                <string>{38,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,8},{54,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{54,72}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,9},{54,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1474},{56,72}}</string>
                <key>offset</key>
                <string>{37,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,8},{56,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,322},{94,72}}</string>
                <key>offset</key>
                <string>{18,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,8},{94,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{102,72}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,8},{102,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{116,72}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,8},{116,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{124,72}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{124,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{128,72}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{128,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizard-cat-normal-attack11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,72}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,8},{134,72}}</string>
                <key>sourceSize</key>
                <string>{142,90}</string>
            </dict>
            <key>wizardcatnormalatk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,1306},{50,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatnormalatk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1812},{50,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatnormalatk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,1968},{50,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatnormalatk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1264},{52,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{52,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatnormalatk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,636},{50,76}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatnormalatk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,396},{52,76}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,8},{52,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatnormalatk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{52,76}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,9},{52,76}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1336},{50,74}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1840},{50,72}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,10},{50,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1928},{50,70}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,9},{50,70}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill03.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,1338},{52,72}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{52,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{54,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill05.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,770},{54,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill06.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,1708},{54,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill07.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,1756},{54,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1784},{54,72}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,10},{54,72}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
            <key>wizardcatskill09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{54,74}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,8},{54,74}}</string>
                <key>sourceSize</key>
                <string>{90,90}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero2.png</string>
            <key>size</key>
            <string>{208,2020}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9309aa66dc7669d25dd5eca0e3e77ef5:a2be7fd30587eba8f22ae7ae430171c7:c6285d5b6b439ec231a3ed44fb9bc037$</string>
            <key>textureFileName</key>
            <string>hero2.png</string>
        </dict>
    </dict>
</plist>
