<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero3_desant_1_stay_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,245},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,161},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{171,322},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,322},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,342},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,366},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,364},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,401},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,50},{35,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{35,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{43,472},{35,38}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,6},{35,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,50},{35,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{35,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,399},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,369},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,377},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,411},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,412},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{193,441},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,443},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,453},{33,40}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,4},{33,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,245},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_1_stay_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,245},{33,42}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,289},{33,42}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,153},{33,44}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,199},{33,44}}</string>
                <key>offset</key>
                <string>{2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{33,44}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,146},{35,42}}</string>
                <key>offset</key>
                <string>{5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,0},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{39,38}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,5},{39,38}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,281},{43,26}}</string>
                <key>offset</key>
                <string>{16,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,17},{43,26}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,106},{45,22}}</string>
                <key>offset</key>
                <string>{21,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,23},{45,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,146},{43,22}}</string>
                <key>offset</key>
                <string>{24,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,22},{43,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,191},{43,22}}</string>
                <key>offset</key>
                <string>{26,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,21},{43,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,236},{43,22}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,22},{43,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,377},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,326},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,401},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,444},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,447},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,447},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,454},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,450},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_die_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,485},{41,22}}</string>
                <key>offset</key>
                <string>{27,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,24},{41,22}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,0},{63,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{55,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,0},{55,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,350},{49,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,0},{49,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,54},{43,50}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,402},{43,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{43,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,50},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,50},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,50},{41,50}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{41,50}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,50},{39,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{39,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,98},{39,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,1},{39,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{95,402},{37,46}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{37,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_enter_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,307},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,167},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,2},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,411},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,106},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,167},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,228},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,289},{59,46}}</string>
                <key>offset</key>
                <string>{-8,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,0},{59,46}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,146},{41,42}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,2},{41,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,102},{43,42}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{167,102},{43,42}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,2},{43,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,190},{37,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,190},{37,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,278},{35,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_fire_0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,278},{35,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,333},{33,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,322},{33,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,278},{35,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,146},{35,42}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,87},{35,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{35,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{133,234},{37,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,190},{35,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{211,234},{35,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,278},{35,42}}</string>
                <key>offset</key>
                <string>{-3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,196},{35,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,233},{35,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,234},{37,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,2},{37,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,124},{35,40}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,4},{35,40}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,270},{35,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,2},{35,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
            <key>hero3_desant_2_go_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{101,333},{33,42}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{33,42}}</string>
                <key>sourceSize</key>
                <string>{95,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3_desant2.png</string>
            <key>size</key>
            <string>{316,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:941b97f8dd0903ca024056bb69f45269:05d4e71fa64b33bf862f127add71fc65:d5d3b9459202433e5dc3d76394f4bac7$</string>
            <key>textureFileName</key>
            <string>hero3_desant2.png</string>
        </dict>
    </dict>
</plist>
