<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Samurai-kitty-0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,196},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,198},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,130},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{1202,194},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,194},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{1314,194},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{1370,194},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,194},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{1336,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,64},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{1154,66},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{1204,130},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,2},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,130},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,66},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{1162,2},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,126},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{1442,64},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,66},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{1262,130},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,130},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,66},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,2},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{1448,2},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{1492,126},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,188},{54,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,10},{54,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,66},{56,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,2},{58,62}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,130},{58,62}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{1320,130},{56,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,194},{56,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,194},{56,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,194},{56,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{1278,2},{56,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,66},{58,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{58,62}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,130},{58,62}}</string>
                <key>offset</key>
                <string>{2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,66},{56,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,194},{56,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,194},{56,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,194},{56,60}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,10},{56,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,130},{56,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,8},{56,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{914,66},{58,62}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,134},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,2},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,130},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,66},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,2},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{1026,130},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,68},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,132},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,66},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,2},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,130},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,66},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{1102,2},{58,62}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,8},{58,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,66},{60,62}}</string>
                <key>offset</key>
                <string>{-1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,8},{60,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,142},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,70},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,74},{46,70}}</string>
                <key>offset</key>
                <string>{6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{46,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,202},{52,62}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,8},{52,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,194},{60,60}}</string>
                <key>offset</key>
                <string>{12,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,194},{60,60}}</string>
                <key>offset</key>
                <string>{13,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{60,60}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{60,70}}</string>
                <key>offset</key>
                <string>{13,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,0},{60,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,156},{64,70}}</string>
                <key>offset</key>
                <string>{11,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,0},{64,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,166},{78,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{80,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,84},{80,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{80,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{80,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,84},{80,70}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,0},{80,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{78,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,82},{78,70}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{78,70}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,142},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,2},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,136},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,68},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{64,62}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,8},{64,62}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,74},{66,58}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{66,58}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{66,54}}</string>
                <key>offset</key>
                <string>{-1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,16},{66,54}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,146},{68,52}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,18},{68,52}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,80},{74,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{74,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,82},{76,50}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{76,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,162},{78,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,162},{78,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,160},{76,50}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{76,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{76,50}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,20},{76,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{78,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,82},{78,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,162},{78,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{78,50}}</string>
                <key>offset</key>
                <string>{-4,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{78,50}}</string>
                <key>sourceSize</key>
                <string>{86,70}</string>
            </dict>
            <key>Samurai-kitty-0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,208},{40,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,39}}</string>
                <key>sourceSize</key>
                <string>{40,39}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero1.png</string>
            <key>size</key>
            <string>{1550,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d0dfc8beadfe8478ffc93736d35a6f7a:be1255670016ca6c0348549e392702ee:e1c9ac0b3b96f41aafd69a12b98222f3$</string>
            <key>textureFileName</key>
            <string>hero1.png</string>
        </dict>
    </dict>
</plist>
