<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hero3_baf_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,88},{62,72}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,17},{62,72}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{74,84}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,11},{74,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,206},{84,94}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,6},{84,94}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,2},{96,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,0},{96,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,104},{106,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,0},{106,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{112,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{112,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{114,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{114,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{118,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{118,100}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,0},{118,100}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{976,86},{42,66}}</string>
                <key>offset</key>
                <string>{-4,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,23},{42,66}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,296},{46,66}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,23},{46,66}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,180},{48,64}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,25},{48,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,230},{48,64}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{48,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,296},{48,64}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,25},{48,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,218},{46,64}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,25},{46,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_baf_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,296},{44,64}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,25},{44,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,308},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,290},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,104},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,88},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,86},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,86},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,86},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,86},{74,62}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,154},{74,62}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,162},{74,62}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,152},{74,62}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,152},{74,62}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,152},{74,62}}</string>
                <key>offset</key>
                <string>{-20,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,27},{74,62}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,86},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,152},{68,64}}</string>
                <key>offset</key>
                <string>{-17,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,25},{68,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,86},{74,64}}</string>
                <key>offset</key>
                <string>{-20,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,25},{74,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,302},{76,64}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,25},{76,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,230},{64,64}}</string>
                <key>offset</key>
                <string>{-15,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{64,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{830,152},{66,64}}</string>
                <key>offset</key>
                <string>{-16,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,25},{66,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_fire_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,226},{46,64}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,25},{46,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,218},{44,60}}</string>
                <key>offset</key>
                <string>{-3,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,29},{44,60}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,218},{40,60}}</string>
                <key>offset</key>
                <string>{-2,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,29},{40,60}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{856,280},{40,58}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{54,30},{40,58}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,322},{40,56}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,32},{40,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,280},{40,56}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,33},{40,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,262},{42,54}}</string>
                <key>offset</key>
                <string>{-3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,35},{42,54}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,322},{44,56}}</string>
                <key>offset</key>
                <string>{-5,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,33},{44,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,262},{46,54}}</string>
                <key>offset</key>
                <string>{-7,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{46,54}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,338},{44,56}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,33},{44,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,199},{44,56}}</string>
                <key>offset</key>
                <string>{-6,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{44,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,322},{44,58}}</string>
                <key>offset</key>
                <string>{-5,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,30},{44,58}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,260},{46,56}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,32},{46,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,262},{50,54}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{50,54}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,260},{48,56}}</string>
                <key>offset</key>
                <string>{-6,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,33},{48,56}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,262},{48,54}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,35},{48,54}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_run_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,262},{46,58}}</string>
                <key>offset</key>
                <string>{-5,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,31},{46,58}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,216},{44,64}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,25},{44,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,216},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,216},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,218},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,218},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,152},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,274},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,318},{42,64}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,25},{42,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>hero3_stay_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,216},{44,64}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,25},{44,64}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>rage/rage_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,300},{30,37}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,37}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,332},{30,39}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,39}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,257},{30,41}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,41}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,154},{30,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{30,45}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,150},{30,47}}</string>
                <key>offset</key>
                <string>{-3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,154},{30,45}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{30,45}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,257},{30,41}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{30,41}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,332},{30,39}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{30,39}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>rage/rage_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,300},{30,37}}</string>
                <key>offset</key>
                <string>{-1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,4},{30,37}}</string>
                <key>sourceSize</key>
                <string>{40,53}</string>
            </dict>
            <key>shield/hero3_shield_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,2},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,104},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{82,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{82,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{82,84}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,12},{82,84}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{840,2},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
            <key>shield/hero3_shield_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,206},{82,82}}</string>
                <key>offset</key>
                <string>{-2,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,13},{82,82}}</string>
                <key>sourceSize</key>
                <string>{150,100}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hero3.png</string>
            <key>size</key>
            <string>{1021,384}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b159fb94e0f72af30b742a8962c35673:d7e95dd3e01f701f4fa9dac569b34462:113b45017899a819ccadc7ae5b896101$</string>
            <key>textureFileName</key>
            <string>hero3.png</string>
        </dict>
    </dict>
</plist>
