<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Panda-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,77},{41,47}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1822,51},{41,45}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,14},{41,45}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1851,2},{41,41}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1865,45},{41,39}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{41,39}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,2},{41,39}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1935,43},{41,39}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>Panda-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,84},{41,39}}</string>
                <key>offset</key>
                <string>{-3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,77},{41,47}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,77},{41,47}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{131,77},{41,47}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,73},{41,49}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,73},{49,55}}</string>
                <key>offset</key>
                <string>{7,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,3},{49,55}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,77},{41,47}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,77},{41,47}}</string>
                <key>offset</key>
                <string>{11,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,73},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,77},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,73},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Backwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1134,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1163,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{833,73},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,73},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1206,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1263,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{919,73},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Frontwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1335,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,51},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside03.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,71},{41,49}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1392,51},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1435,51},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,51},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1507,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,71},{41,49}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1521,51},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-Walkside12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1564,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1607,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1636,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1650,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1679,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1034,2},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,53},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1693,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1765,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1779,51},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PandaEarth-idle13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1808,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>PrimalSplit00.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,2},{67,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{67,39}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit01.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,2},{73,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{73,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit02.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{73,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{73,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit03.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,2},{67,39}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,22},{67,39}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit04.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,2},{73,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{73,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{73,45}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,19},{73,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit06.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{73,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{73,43}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit07.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{73,45}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{73,45}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit08.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{73,43}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,20},{73,43}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit09.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{73,55}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit10.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{73,55}}</string>
                <key>offset</key>
                <string>{0,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,8},{73,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{73,55}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,8},{73,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit12.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,2},{73,57}}</string>
                <key>offset</key>
                <string>{1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{73,57}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{73,59}}</string>
                <key>offset</key>
                <string>{1,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,7},{73,59}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit14.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{69,53}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,53}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit15.png</key>
            <dict>
                <key>frame</key>
                <string>{{732,2},{69,53}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,53}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit16.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{69,53}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,53}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit17.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{69,53}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,53}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit18.png</key>
            <dict>
                <key>frame</key>
                <string>{{897,2},{69,53}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,8},{69,53}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit19.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,2},{69,55}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{69,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit20.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{69,55}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{69,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit21.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{69,55}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{69,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit22.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{69,55}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{69,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit23.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{69,55}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{69,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
            <key>PrimalSplit24.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,2},{69,55}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,7},{69,55}}</string>
                <key>sourceSize</key>
                <string>{85,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkspirit_earth.png</string>
            <key>size</key>
            <string>{1988,126}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:74a0749e527e3c8cb1a4d0fe0a1472b3:a75c50d7af32c81f546a2403451ee629:62375f96ff668eb8c01a551dfed4fd26$</string>
            <key>textureFileName</key>
            <string>monkspirit_earth.png</string>
        </dict>
    </dict>
</plist>
