<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FirePanda-Attack00.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Attack01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{63,47}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{63,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Attack02.png</key>
            <dict>
                <key>frame</key>
                <string>{{67,2},{61,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,11},{61,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Attack03.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{41,49}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Attack04.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,43},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Attack05.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,43},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Attack06.png</key>
            <dict>
                <key>frame</key>
                <string>{{483,43},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,43},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,45},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,45},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,45},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,45},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,45},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{687,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{41,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{785,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Backwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{41,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,2},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,2},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,2},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2},{39,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,2},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1714,2},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,43},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1520,43},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1569,43},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,43},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{39,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-Frontwalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk00.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk01.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk02.png</key>
            <dict>
                <key>frame</key>
                <string>{{981,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk03.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,2},{41,49}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1177,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1226,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1275,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk10.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,2},{41,49}}</string>
                <key>offset</key>
                <string>{10,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,9},{41,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1324,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-SideWalk12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1373,2},{41,47}}</string>
                <key>offset</key>
                <string>{10,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,11},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death00.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,2},{41,47}}</string>
                <key>offset</key>
                <string>{-12,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{41,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,2},{43,45}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,14},{43,45}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,45},{41,41}}</string>
                <key>offset</key>
                <string>{-6,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,18},{41,41}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1261,45},{41,39}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1667,47},{43,39}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,20},{43,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,45},{41,39}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1347,45},{41,39}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-death07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1390,45},{41,39}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,20},{41,39}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle00.png</key>
            <dict>
                <key>frame</key>
                <string>{{679,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle01.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle02.png</key>
            <dict>
                <key>frame</key>
                <string>{{777,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle03.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{39,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle04.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle05.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle06.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle07.png</key>
            <dict>
                <key>frame</key>
                <string>{{973,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1022,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1071,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle10.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,2},{39,49}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,9},{39,49}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
            <key>FirePanda-idle12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,45},{39,47}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,11},{39,47}}</string>
                <key>sourceSize</key>
                <string>{65,65}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monkspirit_fire.png</string>
            <key>size</key>
            <string>{1755,88}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7365f9bdc72676f2d26a6f47d45e89ff:55d47497e2a676b0bb367c79b4d944b9:70d23938fbb3a6f176b6a73a28968503$</string>
            <key>textureFileName</key>
            <string>monkspirit_fire.png</string>
        </dict>
    </dict>
</plist>
